/*R_custom Css*/
/*local css*/

/* header css */
@font-face {
  font-family: 'pt-serif-italic';
  src: url('../../fonts/pt-serif-italic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'SnellBT-Regular';
    src: url('../../fonts/SnellBT-Regular.otf');
    font-weight: normal;
    font-style: normal;
  }
body{
  font-family: PT_Serif-Web-Regular!important;
}
body h2 {
    font-size: 25px;
    letter-spacing: 2.8px;
    font-family: PT_Serif-Web-Regular!important;
}
  .breadcrumbs, .page-title-wrapper #page-title-heading {
    display: none;
  }
.owl-wrapper .cap-push-left-10 {
    right: auto;
    width: auto;
    left: 34%;
    top: 63%;
}
.cap-text-bg .text {
    padding: 3px 6px;
    margin-bottom: 3px;
    float: left;
  clear: none;
    margin-right:15px;
}

.header-top-container, body.contact-index-index .page-title-wrapper .page-title{
    display: none;
}
body .page-wrapper {
    border-top: none;
}
.header .nav.navbar-nav.right-icons li:nth-child(4) a {
    position: relative;
    top: 1px;
}
.header .navi-wrapper, .header .nav-regular {
    background-color: transparent;
}
.nav-regular a span {
    font-family: PT_Serif-Web-Regular;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 18px;
}
.inner-container .nav-regular:not(.nav-vert) .nav-item.level0:hover > a, .inner-container .nav-regular:not(.nav-vert) .nav-item.level0.active > a{
    background-color: transparent;
    color: #000;
}
.header .logo-wrapper .logo {
    margin: 3px 0 0 -15px;
}
.header-container .hp-blocks-holder .hp-block {
    vertical-align: top !important;
}
.header-container .nav-container.simple .nav {
    margin-top: -5px;
}
.footer-top {
    display: none;
}
.footer-bottom-container {
    display: none;
}
ul.bullet li {
    background: none;
    padding-left: 0px;
} 

/* user menu header css */
.custom_links {
    float: right;
    width: 36%;
    padding-top: 2px;
    margin-left: 10px;
    margin-right: 6px;
}
.custom {
    width: 50%;
    display: inline-block;
    font-size: 22px;
}
span.icon.search-custom img, .custom a img {
    width: 27px;
}
.custom_links, .search-custom img{
  padding-top:8px;
}
div#user-menu-wrapper-regular {
    border-bottom: 0;
    height: 52px;
    margin-left: -10px;
  margin-top: -6px;
    }

@media (max-width: 768px){
  .custom_links{display:none;}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 5px !important;
    margin-right: 1% !important;
  }
  .cap-push-up-20 {
    bottom: 0% !important;
  }
.cap-push-left-20 {
    right: 7% !important;
  }
.custm-cap {
    padding: 5px !important;
  }
  .ic-search img {
    padding-top: 0px !important;
    margin-top: 0px;
  width: 24px;
  }
  .custom_account img {
    width: 22px;
    padding-top: 0px;
    margin-top: -2px;
  }
  .korting {
    margin-left: 0% !important;
    margin-right: 0% !important;
 }
}

.header-regular .block-search.expanding {
    padding-top: 1px;
}
.header-regular .block-search.expanding .input-text {
    padding-left: 1px;
    border: none;
}
.block-search .action.search .icon {
    font-size: 22px;
    width: 0px;
    color: #000 !important;
}
.block-search .action.search .fa-search::before {
    content: "";
    background-image: url("http://magtest.websitetestserver.eu/pub/media/search.png");
    width: 20px;
    height: 24px;
    position: absolute;
    top: 15px;
}
.categorypath-schoenen-meisjes .action.tocart.primary {
    display: none;
}

/* Slider */
.cap-text-bg-light-1 .text {
    color: #fff;
    font-family: Snell-Roundhand-Bold-Script;
    font-weight: 100;
    border: 1px solid #fff;
  font-size: 30px;
    letter-spacing: 2px;
}
a:hover .cap-text-bg-light-1 .text {
    background-color: rgba(255,255,255,0.35);
    color: #fff;
}

/* Homepage Featured Slider */
@media (max-width: 991px){
  .product-items.owl-carousel .owl-wrapper {
    width: 100% !important;
  }
  .product-items.owl-carousel .owl-item {
    width: 50% !important;
  }
}

/* Retailer Pages */
.cms-retailers .footer-container.page-footer .subs .news,
.cms-retailer-enquiries .footer-container.page-footer .subs .news {
  display: none;
}

/* product slider */
.product-item-info a.product-item-link {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
    color: #808080;
}
.cute_grid.feature_product h2 {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.cute_grid.feature_product h2:before, .cute_grid.feature_product h2:after {
    content: '';
    border-top: 1px solid #ccc;
    margin: 8px 4px 0 0px;
    flex: 1 0 20px;
}
.cute_grid.feature_product h2:after {
    margin: 4px 0 0 -4px;
}
.itemslider .block-title{
padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
}
/* end */
.col-sm-6.clothing.padding-right {
    padding-right: 10px;
}
.col-sm-6.clothing.padding-left {
    padding-left: 10px;
}
.custom-category .cap-push-right-10 {
    left: 0px;
    width: 100%;    
    bottom: 15px !important;
    padding: 0;
    text-align: center;
}
.custom-category .cap.cap-bottom-left a {
    padding: 4px 35px;
    border: 0.5px solid #fff;
    color: #fff;
    margin-right: 2%;
    background-color: rgba(118, 118, 118, 0.4);
}
.custom-category .clothing {
    margin-bottom: 30px;
}
.custom-category, .container {
    width: 100%;
}
.custom-home-block a:hover{
  color: #fff;
}
.custom-home-block a {
    font-size: 28px;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
    padding: 4px 35px;
    border: 0.5px solid #fff;
    color: #fff;
  }
  .custom-home-block .cap-push-up-10 {
    bottom: 15px !important;
    left: 30px;
    padding: 0;
  }

.custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 28px;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 2px;
}
.insta_top h4 {
    font-family: PT_Serif-Web-Regular;
    font-size: 20px;
    color: #000;
    letter-spacing: 2px;
}
.insta_top p {
    font-family: PT_Serif-Web-Regular;
    font-size: 18px;
}
.news {
    padding: 40px 15px;
}
.news h4 {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    letter-spacing: 3px;
    color: #000;
}
.news p {
    text-align: center;
    font-family: PT_Serif-Web-Regular;
    font-size: 16px;
}
.subs {
    border-top: 1px solid #ccc;
    margin-top: 40px;
    border-bottom: 1px solid #ccc;
}
.korting {
    padding: 11px 0;
    border: 1px solid;
    margin: 30px 0 0 0;
  margin-left: 38%;
    margin-right: 38%;
}
.korting h3 {
    text-align: center;
    margin-bottom: 0!important;
    font-family: PT_Serif-Web-Regular;
}
.footer .heading {
    font-family: PT_Serif-Web-Regular !important;
    font-weight: 400;
    font-family: 16px;
}
ul.bullet li {
    font-family: PT_Serif-Web-Regular;
    font-size: 14px;
  padding-bottom: 5px;
}
.footer-bottom-container, p {
    font-family: PT_Serif-Web-Regular;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}
.insta_top {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 10px;
    padding-bottom: 40px;
    margin-bottom: 45px;
}
.social_grid {
    margin-top: 30px;
}
.social_grid h4 {
    text-align: center;
}
.social_grid p {
    text-align: center;
    margin-bottom: 3rem!important;
}
.image_insta.col-md-3 {
    padding-bottom: 10px;
}
.custm-cap {
    padding: 10px;
    border: 0.5px solid #fff;
    color: #fff;
    background-color: rgba(118, 118, 118, 0.4);
}
.dropdown-block .dropdown-heading .icon {
    color: #333;
    font-size: 25px !important;
}
.header-regular .block-search .action.search .icon{
  color: #333;
}
.fa-user-o:before {
    content: "\f2c0";
    color: #000;
    font-weight: 600;
}
.fa-heart-o:before {
    content: "\f08a";
    font-weight: 600;
}
.ib-square {
    padding-top: 5px;
 }
 .custm-slides {
    text-align:center;
}
.footer-container.page-footer {
    background-color: #fff;
}

/*product css*/

.category-products-grid .product-item{
    text-align: center;
}
.category-products-grid.items-grid.equal-height .item .actions{
    position: relative;
    bottom: 0!important;
}
.category-products-grid.items-grid .product-item-name{
    display: inline-block;
}
.category-products-grid  .product-items .item .addto-links-icons .action .icon {
    background-color: transparent;
}
.category-products-grid  .product-items .item .addto-links-icons .action .icon:hover{
    color: #000;
}
.category-products-grid.items-grid.equal-height .item .actions .actions-primary{
    margin: 0 auto;
    display: block;
    float: none;
}

.category-products-grid .product-items .item .action.tocompare{
    display: none;
}
.category-products-grid .item .addto-links-icons.addto-onimage {
    right: auto;
    position: relative;
    display: inline-block !important;
    top: 15px;
    float: none;
}
.category-products-grid .product-item .price-box .price{
    font-size: 20px;
    font-weight: normal;
    color: #626262;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
}
.category-products-grid .product-item-info a.product-item-link{
    font-size: 24px;
    color: #626262;
}
.category-products-grid .product.product-item{
  border-top:0;
}
.modal-popup .modal-inner-wrap{
    width: 400px;
}
.modal-popup h2 {
    font-size: 18px;
    letter-spacing: 2.3px;
}
.modal-popup .heading-bottom p {
    color: #afafaf;
}
.maattabel-popup .popup-bdr{
  width: auto!important;
  padding: 0 15px!important;
  border:none!important;
}
.product-info-main .product-info-price{
    display: inline-block;
}
#openModel {
    display: inline-block;
    float: right;
    margin-top: 25px;
}
#openModel #iconPopup{
    display: none;
}
#openModel a#titleSizeChart {
    font-weight: normal;
    font-size: 18px;
  text-decoration:underline;
}
.modal-footer {
    display: none;
}
.modal-popup .size-table table .bdr-bottom {
    border-bottom: 1px solid;
}
.modal-popup .size-table table td {
    padding: 4px 0;
    text-align: center;
    font-size: 13px;
}
.modal-popup .size-table {
    margin-bottom: 10px;
}
.modal-popup .content p {
    font-size: 13px;
}
.modal-popup .action-close {
    position: absolute;
    top: 5px;
}
.modal-popup .action-close:before{
    color: #000;
}
.modal-popup .modal-header {
   padding: 0;
}
.modal-popup .modal-content{
    padding: 20px;
}
.modal-popup footer.modal-footer {
    display: none !important;
}

/*checkout-page css*/
.checkout-container {
    margin-top: 20px;
}
.checkout-container form input, .checkout-container form select {
    background-color: #d8d8d8;
    border-color: #d8d8d8;
}
.xxcheckout-container .step-title{
    border-bottom: none !important;
}
.checkout-container .step-title .title-number{
    background-image: none;
    box-shadow: none;
    color: #000;
    border:none;
}
.checkout-container .iosc-place-order-container{
    background-color: #898989;
    padding: 5px;
}
.checkout-container .iosc-place-order-container button.checkout{
    background: transparent;
    border-color: #fff;
    border-radius: 0;
    width: 100%;
    box-shadow: none;
    text-transform: capitalize;
    font-family: PT_Serif-Web-Regular !important;
    font-weight: normal;
    font-size: 24px;
}
.checkout-container .iosc-place-order-container button.checkout:hover, .checkout-container .iosc-place-order-container button.checkout:focus{
    background: transparent;
    border-color: #fff;
}
.checkout-container label{
    font-size: 18px;
    letter-spacing: 1.8px;
}
.checkout-container .step-title, div#iosc-summary span.step-title{
    font-size: 24px;
    letter-spacing: 2.3px;
}
.checkout-container .opc-block-summary {
    background-color: transparent;
}
/* Amasty checkout */
.checkout-index-index.page-layout-checkout #checkout.checkout-container {
  background: #FFF;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block {
  box-shadow: none;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block:hover {
  box-shadow: none;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block:nth-child(n+2) {
  margin-top: 30px;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block #checkout-step-payment .fieldset>.legend+br {
  display: none;
}
@media (min-width: 900px) {
  .checkout-index-index.page-layout-checkout #checkout.checkout-container {
    padding: 0;
  }
  .checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block {
    margin: 0;
    padding: 0;
  }
  .checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column:first-child .checkout-block {
    margin-right: 21px;
  }
  .checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column:nth-child(2) .checkout-block {
    margin-left: 21px;
  }
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .opc-wrapper .checkout-column .step-title {
  font-size: 18px;
  border-bottom: 1px solid black;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container label,
.checkout-index-index.page-layout-checkout #checkout.checkout-container {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: normal;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .checkout-payment-method .payment-method+.payment-method .payment-method-title {
  border-top: none;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .checkout-payment-method .payment-methods .actions-toolbar .primary {
  width: 100%;
  background-color: #898989;
  margin: 0;
  padding: 0;
}
.checkout-index-index.page-layout-checkout #checkout.checkout-container .checkout-payment-method .payment-methods .actions-toolbar .primary span {
  border: 1px solid #FFF;
  display: block;
  margin: 3px;
  padding: 3px;
  height: 30px;
  line-height: 30px;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .opc-wrapper .checkout-column .checkout-block .block .title strong {
  font-size: 14px;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .opc-estimated-wrapper {
  display: none;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .authentication-wrapper,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .authentication-wrapper {
  float: none;
  width: 100%;
  text-align: left;
  margin-bottom: 30px;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .authentication-wrapper button,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .authentication-wrapper button {
  color: #000;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .authentication-wrapper button:hover,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .authentication-wrapper button:hover {
  color: #aaa;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container #customer-email-fieldset .input-text,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container #customer-email-fieldset .input-text {
  width: 100%;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container #customer-email-fieldset .field-tooltip,
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container #customer-email-fieldset .note,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container #customer-email-fieldset .field-tooltip,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container #customer-email-fieldset .note {
  display: none !important;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .opc-wrapper.am-opc-wrapper .checkout-billing-address {
  display: none;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .payment-option.discount-code .action span,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .payment-option.discount-code .action span {
  color: #000;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .opc-block-summary .table-totals .grand.totals.excl,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .opc-block-summary .table-totals .grand.totals.excl {
  display: none;
}
.checkout-index-index.page-layout-checkout .column.main #checkout.checkout-container .opc-block-summary .minicart-items-wrapper,
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .opc-block-summary .minicart-items-wrapper {
  max-height: 999px;
  min-height: 0;
  height: auto !important;
}
/* Default checkout */
.checkout-index-index.page-layout-1column #checkout.checkout-container .opc-progress-bar {
  display: none;
}
.checkout-index-index.page-layout-1column #checkout.checkout-container .form-login,
.checkout-index-index.page-layout-1column #checkout.checkout-container .form-login #customer-email-fieldset .field {
  margin-bottom: 0;
}
.checkout-index-index.page-layout-1column #checkout.checkout-container #payment .payment-method-billing-address {
  display: none;
}

/* end */

/* Product upsell */
@media (min-width: 768px) {
  .catalog-product-view .block.upsell.itemslider .items-grid-thumbnails .owl-item,
  .catalog-product-view .block.upsell.itemslider .items-grid-thumbnails .owl-item .items-group .item {
    width: 49.5% !important;
  }
  .catalog-product-view .block.upsell.itemslider .items-grid-thumbnails .owl-item .items-group .item {
    display: inline-block;
  }
}

@media (min-width: 641px) {
  .page-products #maincontent .category-view .category-image {
    max-height: 400px;
    overflow: hidden;
  }
  .page-products #maincontent .category-view .category-image img {
    margin-top: -11%;
  }
}

/* COOKIE NOTICE
-------------------------------------------------------------- */
#notice-cookie-block {	
	background-color: rgba(220, 220, 220, 0.8);
	font-family: 'PT Serif', serif;
	font-size: 10px;
	z-index: 9999;
}
#notice-cookie-block .actions {
  display: inline-block;
}
@media (max-width: 767px) {
  #notice-cookie-block .actions {
    margin-top: 0;
  }
}
#notice-cookie-block button {
  font-family: 'PT Serif', serif;
  text-transform: uppercase;
  line-height: 29px;
  font-size: 12px;
  padding: 0 10px;
  background-color: #888;
  min-width: 120px;
  color: #FFF;
}
#notice-cookie-block button:hover {
  background-color: #dcd8d6;
  color: #333333;
}
#notice-cookie-block .content {
	background: none;
	max-width: 95%;
	text-align: center;
}
#notice-cookie-block .content p {
	max-width: 100%;
  display: inline-block;
  padding: 0 10px 0 0;
}
#notice-cookie-block .content p a {
  text-decoration: underline;
  color: #333;
}

/*newsletter-sec*/
#wpn-lightbox-content {
    width: 340px;
}
#wpn-lightbox-content p{
    text-align: left;
    font-size: 16px;
    margin-top: 10px;
}
.weltpixel_newsletter .weltpixel_newsletter_signup_section{
    padding-top: 15px;
}
#wpn-lightbox-content form#weltpixel_newsletter input#popup_newsletter_email{
    width: 100%;
    text-align: left;
    background: transparent;
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px;
    text-transform: none;
}
#wpn-lightbox-content form .action.subscribe.primary {
    background-color: transparent;
    border: 1px solid #ccc;
    width: 100%;
}
#wpn-lightbox-close-newsletter{
    background-color: transparent;
    color: #000;
    border:none;
    position: absolute;
    top: 15px;
}
#popup_newsletter_email::placeholder {
    color: #7a7979;
    opacity: 1;
}
#wpn-lightbox-content .action.primary:hover{
    color: #000;
}
input:not([disabled]):focus{
    box-shadow: none;
}

.mobile-banner-sec {
    position: relative;
    margin-bottom: 50px;
}
.mobile-banner-sec img{
  width: 100%;
}
.mobile-banner-sec h2 {
    position: absolute;
    bottom: 10px;
    margin-bottom: 50px;
    font-size: 36px;
    color: #fff;
    width: 100%;
    text-align: center;
}

/*storelocator-css*/

.storelocator-index-index .page-title-wrapper h1.page-title{
  display: none;
}
.store-banner img{
  width: 100%;
}
.storelocator-index-index #main{
    margin: 0;
}
.storelocator-index-index #main .form{
  background: #f8f8f8;
  border: 1px solid #ececec;
  padding: 15px 0;
  margin-top: 20px;
}
.storelocator-index-index #main .total_maps{
  padding-top: 5px;
  padding-right: 15px;
}
.storelocator-index-index #scrollbar1 .overview{
  width: 100%;
}
.storelocator-index-index #scrollbar1 .overview .content .store{
  background: #f8f8f8;
  border: 1px solid #ececec;
}


   /*end*/

    /*end*/

@media (min-width: 1132px) and (max-width: 1279px){
    div#user-menu-wrapper-regular{
        margin-top: -5px;
    }
}
 

@media (min-width: 768px) and (max-width: 1024px){
  .korting {
    margin-left: 30% !important;
    margin-right: 30% !important;
  }
  .slides2 {
     margin-left: -3px;
    text-align: end;
  }
}
@media only screen and (max-width: 769px){
  .header-container .skip-link .label{
    display:none;
  }
}



@media (min-width: 768px){ 
 .custm-slides {
    display: none;
 }
 .main-container .inner-container {
    padding-left: 0;
    padding-right: 0;
}
 .user-menu {
     padding-top: 3px;
   border-bottom: 1px solid;
}

} 

@media (max-width: 768px){
/* mobile css */
  
  .minicart-wrapper {
     margin-top: 0px;
  }

  .skip-link.skip-search img {
    width: 20px;
  }
   .footer .fa{
     text-align: right;
   }
  
  div#user-menu-wrapper-regular{
    display:none;
  }
  .footer-container .footer-primary-bottom .item.item-left {
    float: left;
  max-width: 60%;
}

.footer-container .footer-primary-bottom .item.item-right {
    margin-top: 15px;
}
.custm-slides {
    width: 100%;
    display: inline-block;
}
.slides1 {
    width: 48%;
    float: left;
}
.slides2 {
    width: 48%;
    float: left;
    margin-left: -5px;
  text-align: -webkit-right;
}
.insta_top, .ban.cutm-banner, .footer-container .grid12-12{
  display:none;
}
.footer-primary-container, .footer-primary{
  padding-top: 0px;
}
.footer-container .item-right{
  float: right !important;
}
.footer-container .item-left {  
  margin-right: 20px !important;
}
.footer-container.page-footer {
    margin-top: -40px;
}
.product-item-info a.product-item-link {
    font-size: 12px;
}

.ib-square {
    display: none;
}
.header-container .skip-content.mini-cart-content{
      position: absolute;
    top: 80px;
    z-index:9;
}
.block-minicart .subtitle.empty{
  margin: 3px 20px 0 20px;
}
.header-container .skip-link {
     width: 10%;
 }
 .header-mobile .skip-link {
    background-color: #fff;
  padding: 4px;
 }
 .header-container .logo-wrapper--mobile {
    width: 45%;
 }
 .mini-cart-heading.dropdown-heading.skip-link.skip-cart.action.showcart.counter-over- {
    width: 100%;
  margin-top: -8px;
 }
.header-container .mini-cart, .header-container .mini-compare {
    float: right;
     margin-right: 11px;
 }
.skip-link.skip-account.custom_account {
    float: right;
 }
 .header-container .skip-link .icon {
     vertical-align: top;
   font-size: 20px !important;
 }
 .icon.fa {
   width: auto;
    height: auto;
  }
  .inner-container {
    padding-top: 10px;
 }
 .header-container .logo-wrapper--mobile .logo {
    margin-top: 1px;
  }
  .mini-cart-heading.dropdown-heading.skip-link.skip-cart.action.showcart.counter-over- {
    width: auto;
    margin-top: -8px;
    float: right;
 }
 .social-links span.fa.fa-instagram {
    width: 5px;
  }
}



@media (min-width: 991px) and (max-width: 1024px){
  .user-menu {
    padding-top: 5px;
  }
    div#user-menu-wrapper-regular{
        margin-top: -8px;
    }
}

@media (min-width: 640px) and (max-width: 768px){
  span.icon.ic.ic-cart.custm-minicart {
    padding-top: 8px;
  }

}
/* end */

@media (max-width: 767px){
   .slides2 {
    margin-left: 11px;
  }
  .modal-popup.modal-slide{
    left: 0;
    margin: 0 20px;
  }
  #openModel{
    position: absolute;
    bottom: -10px;
    border: 1px solid#808080;
    width: 100%;
    text-align: center;
    padding: 8px 0;
  }
  .product-view.product-columns-wrapper{
    position: relative;
  }
  .product-view.product-columns-wrapper .product.attribute.description {
    padding-bottom: 20px;
    }
  .block.upsell {
    padding-top: 20px;
    }
  .checkout-container{
    padding: 0 15px;
  }
  .slideshow-wrapper-outer .slideshow-wrapper .slideshow.owl-carousel .cap.cap-top-right{
    bottom: 20px;
  }
  #openModel{
    position: relative;
  }
  .custom-category .cap-push-right-10{
    left: 15px;
    width: 90%;
  }
  .main-top-container .slideshow-wrapper-outer {
    padding: 0 15px;
  }
  .main-block .row {
    margin-bottom: 0!important;
  }
  .schoenen-sec .row .col-md-6 {
    margin-bottom: 15px!important;
  }
  .login-form .action.login:hover {
    background: transparent;
    border: 1px solid;
    color: #000;
  }
  .login-form .login label span{
    font-size: 24px;
    font-weight: normal;
  }
  .login-form .login input{
    height: 40px;
  }
  .login-form .action.login {
    background: transparent;
    border: 1px solid;
    font-size: 24px;
    padding: 20px;
    font-family: PT_Serif-Web-Regular !important;
    font-weight: normal;
  }
  .login-form .field.note {
      text-align: center;
      font-size: 34px;
      letter-spacing: 1.2px;
  }
  .login-form .actions-toolbar .secondary{
    position: absolute;
    bottom: 36%;
    z-index: 99;
    right: 15px;
  }
  .login-container .fieldset::after{
    position: absolute;
    bottom: 42%;
    z-index: 9;
    right: 15px;
    color: #000;
  } 
  .login-form .log_in_btn {
    background: transparent;
    border: 1px solid;
    font-size: 24px;
    padding: 20px;
    font-family: PT_Serif-Web-Regular !important;
    font-weight: normal;
    width: 100%;
}
.login-form .log_in_btn:hover{
    background: transparent;
    border: 1px solid;
    font-size: 24px;
    padding: 20px;
    font-family: PT_Serif-Web-Regular !important;
    font-weight: normal;
    width: 100%;
    color: #000;
}
  .login-form .field.password.required {
    width: 50%;
    float: left;
  }
  /*form-wishlist css*/
  .wishlist_mob_banner {
    position: relative;
  }
  .account.wishlist-index-index h1.page-title{
    display: none;
  }
  .account.wishlist-index-index .page.messages{
    margin: 0;
  }
  .wishlist_mob_banner  h2{
    position: absolute;
    color: #fff;
    bottom: 0;
    font-size: 30px;
    margin-bottom: 30px;
    width: 100%;
    text-align: center;
  }
  .form-wishlist-items .product-item .product-item-photo, .form-wishlist-items .product-item .product-item-photo span{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }
  .form-wishlist-items .products-grid.wishlist{
    margin: 0;
  }
  .form-wishlist-items .products-grid.wishlist .product-item{
    width: 50%;
    float: left;
    padding: 0;
    border:none;
    margin-bottom: 30px;
  }
  .form-wishlist-items .product-item .product-item-name{
    text-align: center;
  }
  .form-wishlist-items .product-item a.product-item-link{
    font-size: 16px;
  }
  .form-wishlist-items .product-item .price-box .price{
    font-size: 18px;
    font-weight: normal;
    color: #808080;
  }
  .form-wishlist-items .product-item .action.edit{
   display: none;
  }
  .form-wishlist-items .product-item .btn-remove.action.delete{
    width: 100%;
    text-align: center;
    color: #808080;
    font-size: 16px;
    margin-top: 0;
  }
  .products-grid.wishlist .product-item-name, .products-grid.wishlist .product-item-description, .products-grid.wishlist .product-item .price-box, .products-grid.wishlist .product-item-tooltip{
    margin-left: 0;
    text-align: center;
  }
  .account.wishlist-index-index .sidebar, .account.wishlist-index-index .action.back{
      display: none;
  }

    /*end*/
}

@media (max-width: 411px){
.custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 20px;
  text-align: center;
    margin: 0 auto;
    display: block;
   }
   .slides2 {
    margin-left: 11px;
  }
  .owl-wrapper .cap-push-left-10 {
    left: 17%;
  }
  .custom-home-block a {
    font-size: 16px !important;
  }
  .wishlist_mob_banner  h2{
    font-size: 24px;
    margin-bottom: 15px;
  }
  .mobile-banner-sec h2 {
    font-size: 26px;
    margin-bottom: 15px;
  }
  .login-form .field.note{
    font-size: 26px;
  }
}
@media (max-width: 320px){
.footer-container .item-left {
    margin-right: 6px !important;
 }
 span.icon.ic.ic-cart.custm-minicart {
    padding-top: 0px;
    margin-top: -3px;
  }
  .custom-category .cap.cap-bottom-left.set_inner a {
    font-size: 20px;
  }
} 

li.nav-item.level0 {
    margin: 0px 12px;
}
.header-container {
    margin-bottom: 10px;
}
.block.itemslider .block-content, .cute_grid .block{
  margin:0;
}
.image_insta.col-md-3 img {
    height: 250px;
}
.columns .column.main{
  padding-bottom:0;
}
.footer-container .footer-primary-bottom-spacing{
  border-top:none;
}
.grid12-12:first-child {
    margin-left: 0px;
}
.footer-primary .grid12-2 {
    width: 10%;
    margin-left: 6%;
    margin-right: 0;
}
.custm-minicart img {
    width: 20px;
    padding-bottom: 4.5px;
}

 
@media (min-width: 993px) and (max-width: 1131px){
li.nav-item.level0 {
margin: 0px 7px;
}
.header-container .nav-container.simple .nav {
margin-top: -6px;
}
}
.links > li > a:hover{
background-color: none !important;
}
/*end*/
#mainmenu ul li a {
    padding: 0;
    line-height: 49px;
}
.main-container .cute_grid.feature_product h2 {
    font-family: 'SnellBT-Regular'!important;
    font-size:22px;
    letter-spacing:0;
}
.main-container .cap-text-bg-light-1 .text{
    background-color: rgba(118, 118, 118, 0.5);
}
.main-container a:hover .cap-text-bg-light-1 .text{
    background-color: rgba(118, 118, 118, 0.5);
}
#maincontent .insta_top, #maincontent .subs {
    border-top: 1px solid #808080;
    border-bottom: 1px solid #808080;
 }
 .cap-push-left-10{width: 100%;left: 0;right: 0;bottom: 25%;top: auto;text-align: center;}
 .ban h2.text {
    display: inline-block;
    margin: 0 auto;
    float: none;
    margin-right: 15px;
}
.footer-primary-bottom-spacing.inner img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
#maincontent .custm-cap, #maincontent .custom-category .cap.cap-bottom-left a{
    background-color: rgba(118, 118, 118, 0.2);
}
.subs .news h2{
    text-align: center;
    font-size: 22px;
    letter-spacing: 1px;
}
.subs .news  .korting h3{
    font-size: 18px;
    color: black;
}
.custom-home-block .newcat:first-child {
    padding-right: 7px;
}
.custom-home-block .newcat:last-child {
    padding-left: 7px;
}
.footer-container .footer-primary .block-1, .footer-container .footer-primary .block-2, .footer-container .footer-primary .block-3{
    width: 30%;
    margin:0;
}
.footer-container .footer-primary .block-4{
    width: 10%;
    margin: 0;
}
.custom-home-block {
    display:none;
}
.header-mobile .skip-link:hover, .header-mobile .skip-link:hover, .header-mobile .skip-link:hover, .links > li > a:hover {
    background-color:transparent;
}
.inner-container .nav-border-bottom{
    border-bottom: 1px solid #333;
}

/*filer-css-start*/
.filters-collapsed .block-content.filter-content{
  text-align: center;
}
.filters-collapsed .block-content.filter-content .filter-options-title{
  font-size: 18px;
  font-weight: normal;
  text-transform: capitalize;
}
.page-layout-1column .filters-collapsed .filter-options-title::after{
  top: 4px;
}
.filters-collapsed .block-content.filter-content .filter-options-item{
  margin: 0 50px;
}
.filters-collapsed .block-content.filter-content .filter-options-content li{
  text-align: left;
}
.filters-collapsed .block-content.filter-content .filter-options-content{
  box-shadow: none;
  border: none;
  border-top: 2px solid;
  width: 170px;
}
.page-layout-1column .filters-collapsed .filter-options-item.active::after, .page-layout-1column .filters-collapsed .filter-options-item.active::before{
  content: "";
  display: none;
}
.filters-collapsed .block-content.filter-content .filter-options-content li > input, .filters-collapsed .block-content.filter-content .filter-options-content li > a{
  display: inline-block;
}
@media(max-width: 1024px){
    #maincontent #user-menu-wrapper-regular .user-menu {
        padding-top: 3px;
    }
}

@media(min-width:768px){
    .ban .image.mob_img, .ban .text.mob_btn {
        display: none;    
    }
}
.header-container3 .header .logo-wrapper .logo{
    margin:0;
}
@media(max-width: 992px){
    #mainmenu ul{
        text-align: center;
    }
    #mainmenu ul li{
        display: inline-block;
        float: none;
    }
    .inner-container .nav-border-bottom , .inner-container .user-menu{
        border-bottom: 0px solid;
    }
    .custom-home-block {
        display:block;
    }
    .insta_top, .ban-2{
        display: none;
    }
    .footer-container.page-footer #scroll-to-top{
        bottom: 0;
    }
}

@media(max-width:768px){
.header-mobile  .custom_account img {
    width: 20px;
    padding-top: 0px;
    margin-top: 2px;
}
}
@media(max-width:767px){
    .ban .image.hidden_img{
        display: none;
    }
    .ban h2.text{
        margin: 0 auto 15px;
    }
    .page-wrapper .header-container {
        margin-bottom: 0px;
    }
    .main-container .main.container{
        padding-top: 0;
    }
    .cute_grid.feature_product {
        margin-top: 20px;    
    }
    .block.itemslider .products .item {
        padding-left: 0;
        padding-right: 0;    
    }
    .footer-container .footer-primary-bottom .item.item-left{
        max-width: 75%!important;
    }
    .footer-container .footer-primary-bottom .item.item-left p{
        text-align: left;
    }
    .container.custom-category .row{
        margin-left: 0;
        margin-right: 0;
    }
    .container.custom-category .col-sm-6.clothing {
        padding: 0;    
    }
    .owl-wrapper .cap-push-left-10{
        top:89% !important;
        padding:0;
    }    
     h2.text.mob_hide{
        display:none;
    }
    #openModel a#titleSizeChart {
      font-weight: bold;
  }
  .category-products-grid .product-item-info a.product-item-link{
    font-size: 16px;
  }
  .category-products-grid .product-item .price-box .price{
    margin-top: 0;
  }
  .main-container .cap-text-bg-light-1 .text{
    font-size: 13px !important;
  }
  .custom-category .clothing{
    margin-bottom: 15px;
  }
}

.main-block .padd_15 {
    padding: 0 15px;
    position:relative;
}

.main-block img {
    width: 100%;
}

.main-block .row {
    margin-bottom: 15px;
}

.main-block .truien, .main-block .jurkjes {
    /*3/26/19*/
    width: 61.9%;
    float: left;
}

.main-block .leggings, .main-block .jassen {
    /*3/26/19*/
    width: 38.1%;
    float: left;
}
.rokken {
    width: 50%;
    float: left;
}
.jumpsuits {
    width: 50%;
    float: left;
}
 .main-block .category_title {
    position: absolute;
    bottom: 15px;
    color: #fff;
    left: 30px;
    border: solid 1px #ffffff;
    background-color: rgba(118, 118, 118, 0.4);

}
.main-block .category_title a {
    padding: 10px 30px;
    display:block;
    font-size: 30px;
    color: #fff;
    letter-spacing: 2.8px;
    font-family: PT_Serif-Web-Regular;

}
.main-block .shirts, .main-block .truien, .main-block .leggings, .main-block .broeken, .main-block .jumpsuits, .main-block .rokken, .main-block .Jurken, .main-block .jurkjes, .main-block .jassen {
    position: relative;
    margin-bottom: 15px;
}
/*header*/

.nav-item .caret::before {

    content: "";

}
 .header-container .inner-container .skip-link{
  height: auto;
  line-height: 22px;
  max-height: 100%;
}
.inner-container .custm-minicart img{
  width: 16px;
  padding-bottom: 0;
  margin-top: 8px;
}
 .header-mobile .inner-container .skip-link:hover{
  background-color: transparent;
}
#header-container span.icon.search-custom img, #header-container .custom a img {

    width: 20px;
    margin-top: 10px;

}
.header-mobile .inner-container .skip-link:hover {
    color: #000;
}
.header-container .ic-menu::before {
    content: "\2630";
    font-size: 24px !important;
}
.dropdown-block .dropdown-heading .caret{margin-top: 20px;}
.header-primary .links > li > * {text-align: center;}
#header-container .link.wishlist.custom img {

    margin-top: 12px;
    width: 23px;

}
.header-container .nl_menu b {
    padding: 8px 15px;
    margin-top: 10px;
    line-height: 22px;
    display: inline-block;
    font-size: 18px;
}
#header-container span.icon.search-custom img {
    margin-top: 0;
    padding-top: 0;
}
.links > li > a:hover {
    background-color: transparent;}
    
    /*product's css start*/
    .product-info-main .control{
        position: relative;
    }
    .product-info-main .control:after{
      content: '<';
      font: 20px "Consolas", monospace;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      right: 10px;
      /*Adjust for position however you want*/
      
      top: 8px;
      padding: 0 0 2px;
      /*left line */
      
      position: absolute;
      pointer-events: none;
    }
    .product-info-main .control select{
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          /* Add some styling */
          
          display: block;
          width: 100%;
          padding: 0px 24px;
          font-size: 16px;
          background-color: #ffffff;
          background-image: none;
          -ms-word-break: normal;
          word-break: normal;
    }
      
    .product-info-main .page-title-wrapper h1.page-title{
        display: inline-block;
        margin-right: 10px;
        font-size: 24px;
        line-height: 24px;
        margin-bottom: 0;
        text-transform:uppercase;
    font-family:PT_Serif-Web-Regular !important;
    }  
    .product-info-main .product-social-links {
        display: inline-block;
        margin-bottom: 0;
    }
    .product-info-main .action.tocompare.feature.feature-icon-hover, .product-info-main .product-addto-links.addto-links span.label, .product-info-main .price-box .price-label {
        display: none!important;
    }
    .product-info-main .feature{
      margin-bottom: 0;
    }
    .product-info-main .product-social-links .action.feature .icon{
      width: 20px;
      height: 20px;
      background: transparent;
    }
    .product-info-main .ic-heart::before{
      display: block;
      line-height: 22px;
      font-size: 12px;
    }
    .product-info-main .price-box.price-final_price {
        display: inline-block;
        float: right;
    }
    .product-info-main #product-options-wrapper {
        width: 50%;
        float: left;
        margin-bottom: 30px;
    }
    .product-info-main #product-options-wrapper .label{
      display: none;
    }
    .product-info-main .product-options-bottom {
        width: 50%;
        float: left;
    }
    .product-info-main .product-options-bottom .box-tocart{
      float: right;
      width: 100%;
      display: block;
      margin: 0;
    }
    .product-info-main .product-options-bottom .box-tocart .actions, .product-info-main .product-options-bottom .box-tocart .tocart{
        min-width: 100%;
        width: 100%;
    }   
    .product-info-main #product-options-wrapper .fieldset {
        padding: 0 15px 0 0;
    }
   .product-info-main .box-tocart .action.tocart{
      padding: 8px 17px;
      background-color: #898989;
    }
    .product.data.items.stacked-tabs > .item.title{
        border:none;
    }
    .product-info-main .box-tocart .action.tocart:hover{
        background-color: #898989;
    }
    .product-info-main .product.attribute.sku, .product-info-main .product.attibute.sku{
        font-style: italic;
    }
    .product-info-main #product-options-wrapper select {
        height: 40px;
        text-align:center;
    }
    .product-info-main .product-options-bottom  .box-tocart .actions button.tocart span img{
      margin-left: 10px;
    }
    .product-info-main .page-title-wrapper.product {
        border-bottom: 1px solid;
        padding-bottom: 10px;
    }
    .product-info-main .product-add-form, .product-info-main .product-info-stock-sku{
      border:none;
    }
    .product-info-main .product-info-stock-sku{
        display: none;
    }
    .product-info-main .product-add-form {
        float: left;
        width: 100%;
        
        border-color: #000;
    }
    .price-box.price-final_price span.price-wrapper span.price{
      font-size: 20px;
      color: #626262;
      line-height: 20px;
    }
    .product-info-main #product-addtocart-button img {
        margin-left: 10px;
    }
    .product-img-column .product.media {
        padding-right: 35px;
    }
    .product-img-column .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
        margin-top: 25px;
    }

    .fotorama-item.fotorama .fotorama__stage__frame .fotorama__img{
        top: 50%;
        width: 100%;
    }

    .products-upsell .product-item-info .product-item-img {
        width: 100%;
    }
    .products-upsell .product-item-info .product-item-img .product-item-photo img {
        width: 150px;
        margin: 0 auto;
    }
    .products-upsell .product-item-info  .product.details.product-item-details {
        width: 100%;
        margin: 0;
        position: relative;
        text-align: center;
        clear: both;
    }
    .upsell .block-title.title{
        border-bottom: 0px;
        position: relative;
        padding-right: 0;
        text-align: center;
        display: flex;
    }
    .upsell .block-title.title::before, .upsell .block-title.title::after {
        content: '';
        border-top: 1px solid;
        margin: 10px 0px 0 0;
        flex: 1 0 20px;
    }
    #block-upsell-heading {
        padding: 0 15px;
        font-size: 20px;
    }
    .slider-arrows1-pos-top-right .owl-controls .owl-buttons{
        display: none;
        top: -35px;
    }
    .product.data.items.stacked-tabs > .item.title strong{
        font-size: 24px;
    }
    .product.attribute.description p, .product.attribute.description ul li {
        font-size: 16px;
        position: relative;
    }
    .product.attribute.description ul li:before{
        content: "\2713";
        margin-right: 5px;
        color: #afafaf;
        font-size: 14px;
    } 
    .products-upsell .product-item-actions .secondary-addto-links.actions-secondary a.towishlist {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
      
     /*product's css end*/
    
@media(max-width:1199px){
    .main-block .category_title a{
        padding: 10px 20px;
        font-size: 24px;
    }
}    
@media(max-width:991px){
    .main-block .category_title a{
        padding: 10px 10px;
        font-size: 20px;
    }
    .product-info-main .box-tocart .action.tocart span{
        font-size: 14px;
    }
}
@media(max-width:767px){
    .main-block .category_title{
        width:150px;
    }
    .main-block .category_title a{
        padding: 10px 10px;
        font-size: 18px;
        letter-spacing: 2px;
        line-height: 18px;
        text-align: center;
    }
    .product-img-column{
      margin-bottom: 0;
    }
    .product-img-column .product.media{
        padding-right:0;
    }
    .product-info-main .page-title-wrapper.product, .product-info-main .product-add-form{
        border-bottom: 0;
        padding-bottom: 0;
    }
    .upsell .block-title.title::before, .upsell .block-title.title::after{
        content: "";
        display: none;
    }
    .products-upsell .product-item-info .product-item-img .product-item-photo img{
       /* border: 1px solid #808080;*/
        margin: inherit;
    }
    .products-upsell .product-item-info a.product-item-link, .products-upsell .price-box.price-final_price span.price-wrapper span.price{
        font-size: 16px;
    }
    .products-upsell .product-item-info .product.details.product-item-details{
        text-align: left;
    }
    .upsell .block-title.title{
        display: block;
    }
    .fotorama__nav-wrap .fotorama__nav__shaft{
        display: none;
    }
    .slider-arrows1-pos-top-right .owl-controls .owl-buttons{
        top: -10px;
    }
    .product-info-main .page-title-wrapper h1.page-title{
        float: left;
        color: #7d7d7d;
        font-size: 16px;
        line-height: 20px;
    }
    .price-box.price-final_price span.price-wrapper span.price{
      font-size: 16px;
    }
    .product-info-main .product.attribute.sku {
        display: inline-block;
        float: left;
        margin-right: 6px;
        
    }
}
@media(max-width:575px){
    .main-block .category_title{
        left:15px;
        bottom: 10px;
        width:auto;
    }
    .main-block .category_title a{
        padding: 10px 10px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 14px;
        text-align: left;
    }
    .main-block .padd_15{
        padding: 0 5px;
    }
    .custom-home-block a {
      font-size: 16px;
      padding: 4px 10px;
    }
}

.footer-primary-container.section-container li a:hover {
color: #898989;
}



/* css for add to cart pop up */

.mobile_dropdown
{
    float: left;
    width: 95%;
    text-align: center;
    padding: 5px;
    color: #000;
    font-size: 20px;
    margin-top: 0px;
    border: 1px solid #707070;
    font-weight: bold;  
}

.mgk-adcpopup-modal .modal-inner-wrap
{
width:700px!important;
}

.mgk-adcpopup-modal.modal-popup .modal-title
{
  text-align: center;

padding-top: 20px;

font-size: 35px;

letter-spacing: 2px;

font-family: Bitter;
border-bottom:none;
}
.modal-popup .action-close::before {

    color: #000;
    font-size: 35px;
}
.modal-popup button.action-close {
    padding: 0;
    right: 20px;
    top: 15px;
}

.mgk-adcpopup-block .adcpopup-category
{
  display:none;
}

.mgk-adcpopup-block .adcpopup-content
{
  width:100% !important;
  border-right:none !important;
}
.mgk-adcpopup-block .adcpopup-summary
{
  float:left !important;
  width:100% !important;
}

.mgk-adcpopup-block .product-image-wrapper
{
  padding-bottom:50% !important;
}

.adcpopup-summary
{
  
      font-size: 26px;
    border-top: 1px solid #c1c1c1;
    border-bottom: 1px solid #c1c1c1;
    padding: 20px 0;
}
.adcpopup-right
{
float:right;  
}

.best
{
  
      float: left;
    width: 100%;
    background: #898989;
    text-align: center;
    padding: 15px 0;
    color: #fff;
    font-size: 25px;
    margin-top: 60px;
}

.verder
{
  
      float: left;
    width: 100%;
    
    text-align: center;
    padding: 15px 0;
    color: #000;
    font-size: 25px;
    margin-top: 30px;
  border:1px solid #707070;
  font-weight:bold;
}

.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing
{
border-bottom:none !important;  
width: 50%;
    float: right;
    text-align: right;
}

.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name
{
  float:left !important;
  width:50% !important;
}
.adcpopupqty
{
  float: left;
    font-size: 25px;
    margin: 5px 0;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price-container
{
      float: left;
    margin-top: 14px !important;
    margin-left: 20px !important;
  
}

.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions a
{
  background:none;
  font-size:20px !important;
}
 .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions a:hover
 {
   color:#000;
 }
 .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions a:focus
 {
   color:#000;
 }
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions
{
  margin-top:4px !important;
}
.modal-inner-wrap .modal-footer
{
  display:block;
}

.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .details-qty
{
  margin-top: 0px !important;
    float: left;
    clear: both;
}

.removeText
{
      float: left;
    padding-top: 35px;
    text-align: center;
}

.cap-push-up-10
{
  bottom:56px !important;
}


.products-upsell .product-item-info .product.details.product-item-details .price-box.price-final_price
{
  margin-top:20px
}

.product-social-links .action.towishlist:before, .product-items .item .action.towishlist:before, .product-items .product-item .action.towishlist:before, .table-comparison .action.towishlist:before
{
  content:'' !important;
}

i.fa.fa-circle.active
{
  color:#000 !important;
}


.popup-detail-modal
{
  height:355px;
  top:22%;
}
.popup-detail-modal div.modal-inner-wrap footer.modal-footer
{
  display:none;
}



@media(max-width:479px){
    .products-upsell .product-item-info .product.details.product-item-details{
        width: 100%;
    text-align:center;
        float:left;
    }
    .products-upsell .product-item-info .product-item-img .product-item-photo img{
        width: 285px;
    }
    .products-upsell .product-item-info .product-item-photo{
        margin: 0 auto;
    }
  
  
  
  .mgk-adcpopup-modal.modal-popup .modal-title
  {
    font-size:22px !important;
  }
  .modal-popup .action-close::before
  {
    font-size: 40px !important;
    padding-top: 0px !important;
  }
  
  .adcpopup-summary
  {
    display:block !important;
  }
  
  
  .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-photo
  {
    float:left !important;
    width:25% !important;
  }
  div.adcp opup-content span.product-image-wrapper
  {
    
    height:auto !important;
  }
  .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name {
    float: left !important;
    width: 25% !important;
    font-size: 20px !important;
    }
  .adcpopupqty
  {
    font-size:20px !important;
  }
  .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price-container
  {
    margin-left:10px !important;
    margin-top:10px !important;
  }
  .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions
  {
    margin-top:0px !important;
  }
  .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price
  {
    font-size:18px;
  }
}

/* css for store switcher */
li.switcher-option
{
  float:left;
  width:100% !important;
}
.fotorama__arr, .fotorama__thumb__arr
{
  background-color:transparent !important;
}
a:hover, .sideacco li.current > a, h2.product-name a:hover, h3.product-name a:hover, h4.product-name a:hover, h5.product-name a:hover, p.product-name a:hover
{
  color:#d8d8d8 !important;
}
/* END css for store Swticher */
/* 04-July-2019 changes*/
@media (max-width: 768px) {
    
.navbar-inverse {
  padding: 14px 25px !important;
  background: #fff !important;
}
}