div#wpn-lightbox-content:before{
	content: '';
    position: absolute;
    height: 150%;
    width: 200%;
    left: -145%;
    top: -27%;
    background-repeat: no-repeat;
    background-image: url(../images/before-nl-bg.png);
    z-index: -1;
    background-size: cover;
    background-position: 55%;
}
.weltpixel_newsletter .weltpixel_newsletter_signup_section{
	padding-bottom: 15px;
	background-color: #fff;
}
.weltpixel_newsletter #weltpixel_newsletter{
	float: unset;
}
#wpn-lightbox-content form#weltpixel_newsletter input#popup_newsletter_email{
	margin-bottom: 35px;
}
div#wpn-lightbox-content.weltpixel-custom:before{
	background-image: url(../images/after-nl-bg.png);
	top: -40%;
	height: 180%;
}
.weltpixel-custom .weltpixel_newsletter .weltpixel_newsletter_signup_section .title{
	text-align: left;
	margin-bottom: 20px;
	margin-left: 30px;
}
#wpn-lightbox-content #popup-loader{
	position: absolute;
    left: 40%;
    top: 50%;
}
div#wpn-lightbox-content.weltpixel-custom button{
	background-color: transparent;
    border: 1px solid #ccc;
    width: 100%;
}
div#wpn-lightbox-content.weltpixel-custom button:hover{
	color: #000;
}
@media (max-width: 1150px) and (min-width: 993px){
	div#wpn-lightbox-content:before{
		width: 180%;
    	left: -110%;
	}
}
@media (max-width: 992px) and (min-width: 768px){
	#wpn-lightbox-content{
		padding: 0;
	}
	#wpn-lightbox-content .weltpixel_newsletter{
		padding: 6%;
		background-color: #fff;
	}
	.weltpixel_newsletter .weltpixel_newsletter_signup_section #weltpixel_newsletter{
		float: unset;
	}
	div#wpn-lightbox-content:before{
		left: -75%;
		width: 150%;
	}
}
@media (max-width: 767px){
	div#wpn-lightbox-content:before{
		content: '';
	    position: absolute;
	    height: 150%;
	    width: 150%;
	    left: -70%;
	    top: -25%;
	    background-repeat: no-repeat;
	    background-image: url(../images/before-nl-bg.png);
	    z-index: -1;
	    background-size: cover;
	    background-position: 65%;
	}
	.weltpixel_newsletter .weltpixel_newsletter_signup_section{
		padding-bottom: 15px;
		background-color: #fff;
	}
	.weltpixel_newsletter #weltpixel_newsletter{
		float: unset;
	}
	#wpn-lightbox-content{
		width: 300px;
		padding: 0;
	}
	.weltpixel_newsletter .weltpixel_newsletter_signup_section #weltpixel_newsletter{
		float: unset;
	}
	#wpn-lightbox-content .weltpixel_newsletter{
		padding: 0 15% 0 15%;
    	background-color: #fff;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		background-position: 80%;
	}
	.weltpixel-custom .weltpixel_newsletter .weltpixel_newsletter_signup_section .title{
		margin-left: 0;
	}
}
@media (max-width: 640px) and (min-width: 541px){
	div#wpn-lightbox-content:before{
		width: 130%;
    	left: -50%;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		background-position: 60%;
	}
}
@media (max-width: 540px) and (min-width: 481px){
	div#wpn-lightbox-content:before{
		left: -35%;
		height: 130%;
    	width: 120%;
    	top: -16%;
    	background-position: 80%;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		background-position: 90%;
	}
}
@media (max-width: 480px) and (min-width: 376px){
	div#wpn-lightbox-content:before{
		left: -20%;
		height: 130%;
    	width: 110%;
    	top: -16%;
    	background-position: 80%;
	}
	#wpn-lightbox-content .weltpixel_newsletter{
		padding: 0 10% 0 10%;
		margin-left: 10%;
	}
	#wpn-lightbox-content{
		width: 300px;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		background-position: 85%;
	}
}
@media (max-width: 375px) {
	div#wpn-lightbox-content:before{
		left: -17%;
	    height: 130%;
	    width: 110%;
	    top: -16%;
	    background-position: 68%;
	}
	#wpn-lightbox-content .weltpixel_newsletter{
		padding: 0 10% 0 10%;
		margin-left: 15%;
	}
	#wpn-lightbox-content{
		width: 270px;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		height: 130%;
	    width: 110%;
	    top: -16%;
		background-position: 90%;
	}
}
/* 24-06-2019 changes start */
.category-products-grid .product-items .item .addto-links-icons .action .icon{
	position: relative;
}
.category-products-grid .product-items .item .addto-links-icons .action .icon:before{
	content: '' !important;
    width: 22px;
    top: 15px;
    height: 21px;
    left: 8px;
    background-size: contain;
    position: absolute;
    background-image: url('../images/Hart11.png');
}
.fa-heart-o{
	position: relative;
}
.fa-heart-o:before{
	content: '' !important;
    width: 22px;
    top: 15px;
    height: 21px;
    left: 8px;
    background-size: contain;
    position: absolute;
    background-image: url('../images/Hart11.png');
    background-repeat: no-repeat;
}
.product.data.items.stacked-tabs>.item.title>.switch:hover{
	color: #333 !important;
}	
.product.attribute.description ul li{
	margin-bottom: 0;
}
.fotorama__thumb-border{
	border: 1px solid #D8D8D8 !important;
}
.product-info-main .product-social-links .action.feature .icon{
	position: relative;
}
.product-info-main .product-social-links .action.feature .icon:before{
	content: '' !important;
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
    background-size: contain;
    position: absolute;
    background-image: url('../images/Hart11.png');
    background-color: #fff;
    background-repeat: no-repeat;
}
.feature-icon-hover:hover .ib.icon-color-productview{
	background-color: unset !important;
}
@media (max-width: 767px){
	.product-view.product-columns-wrapper .product.attribute.description{
		    padding-bottom: 0;
	}
	.product.attribute.description ul{
		margin-bottom: 0px;
	}
	.product.data.items.style1{
		margin-bottom: 0;
	}
	.product.info.detailed{
		margin-bottom: 0;
	}
	.product-info-main #product-options-wrapper{
		margin-bottom: 0;
	}
	.product-info-main .product-add-form{
		margin-bottom: 15px;
	}
	.modal-popup.modal-slide .modal-inner-wrap[class]{
		max-width: 100%;
	}
	.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
		min-height: unset;
		background-color: #fff;
	}
	.modal-popup button.action-close{
		right: 5px;
    	top: 0px;
	}
	/*.modal-popup.modal-slide._inner-scroll._show{
		top: 10%;
	}*/
	.modal-popup.mgk-adcpopup-modal.modal-slide._show,
	.modal-popup.modal-slide._inner-scroll._show{
		top: 15%;
	}
	.popup-detail-modal,
	.modal-popup.modal-slide .modal-inner-wrap{
		height: auto;
	}
	.modal-popup.modal-slide._inner-scroll._show .modal-inner-wrap .modal-content .option_pop_modal > a{
		display: none;
	}
}
@media (max-width: 480px){
	.product.attribute.description ul li{
		position: relative;
		padding-left: 19px;
	}
	.product.attribute.description ul li:before{
		position: absolute;
		width: 19px;
		height: 100%;
		left: 0;
	}
	.fa-heart-o:before{
		top: 20px;
	}
	.modal-popup.mgk-adcpopup-modal.modal-slide._show,
	.modal-popup.modal-slide._inner-scroll._show{
		top:17%;
	}
}
@media (max-width: 400px){
	.product-info-main .product.attribute.sku{
		margin-bottom: 10px;
	}
}
@media (min-width: 374px) and (max-width: 767px){
	.navbar-inverse{
		padding: 15px 25px !important;
	}
	.main-top-container .slideshow-wrapper-outer{
		padding: 0 25px;
	}
	.inner-container{
		padding-left: 25px !important;
    	padding-right: 25px !important;
	}
	.news {
	    padding: 40px 25px;
	}
	.category-view .main-block .row{
		margin-left: 0;
    	margin-right: 0;
	}
	.category-view .main-block .container .row{
		margin-left: -15px;
    	margin-right: -15px;
	}
}

/* 25-06-19 changes */
.product-info-main .product-social-links .action.feature .addwishlist:before{
	content: '' !important;
	background-image:url(../images/Hart11-v1.png);
    width: 100%;
    top: 0;
    height: 100%;
    left: 0;
}
.products-upsell .product-item-info .product.details.product-item-details .fa-heart-o:before{
	top: 2px;
	left: 0;
}
.product-info-main .product.attribute.sku, .product-info-main .product.attibute.sku{
	padding: 5px 0 10px 0;
	font-size: 18px;
}
.modal-slide._inner-scroll .modal-footer{
	display: none;
}
.product-view .price-box .price{
	font-family: sans-serif;
}
@media (max-width: 767px){
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .action.delete{
		margin-right: -15px;
	}
}
@media (max-width: 480px){
	.products-upsell .product-item-info .product.details.product-item-details .fa-heart-o:before{
		left: auto;
	}
}
/* 26-06-2019 */
@media (min-width: 1200px){
	.block-search .input-text{
		height: 30px;
	}
	.right-icons .form.minisearch .field.search.search-field{
		top: 22% !important;
	    right: -18px;
	    left: auto;
	}
}
@media (min-width: 769px){
	.custom-category .cap.cap-bottom-left a{
		padding: 4px 12px;
	}
	.cap-text-bg .text{
		padding: 4px 12px !important;
	}
	.custm-cap{
		padding: 4px 12px !important;
    	line-height: 1.4;
	}
	.main-block .category_title a{
		padding: 4px 12px !important;
	}
}
@media (max-width: 768px){
	.inner-container{
		padding-top: 0;
	}
	.category-ons-verhaal .over-ons-content h3{
		padding: 0px 40px 21px 40px;
	}
	.cms-retailers .content-retailers{
		margin-top: 0;
	}
	.cms-home .custom-category .cap.cap-bottom-left a{
		padding: 4px 14px !important;
		white-space: nowrap;
	}
}
@media (max-width: 767px){
	.schoenen-sec .category_title,
	.main-block .category_title{
		width: auto !important;
	}
}
@media (min-width: 374px) and (max-width: 767px){
	.cms-retourneren-geldteruggave #maincontent .container{
		max-width: 100% !important;
		padding: 0 25px;
		width: auto;
	}
	.cms-retourneren-geldteruggave .over-ons-image{
		padding-left: 0;
	}
	.cms-retourneren-geldteruggave ._banner_img_m{
		margin: 0;
	}
	.cms-retourneren-geldteruggave .he_text{
		width: 100%;
	}
	.cms-retourneren-geldteruggave .addres{
		max-width: 100%;
		margin-bottom: 12px;
	}
	.cms-retourneren-geldteruggave .faq-wrapper{
		max-width: 100%;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.cms-retourneren-geldteruggave .subs .news{
		padding: 40px 25px;
	}
	.cms-retourneren-geldteruggave .cstm-btn h3{
		width: 90%;
		font-size: 18px;
	}
	.cms-retourneren-geldteruggave .navbar-inverse,
	.cms-ons-verhaal .navbar-inverse,
	.cms-social-responsibility .navbar-inverse{
		width: auto;
	}
	.cms-retourneren-geldteruggave .over-ons-image{
		max-width: 100%;
	}
	.cms-retourneren-geldteruggave .over-ons-image img{
		width: 100%;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row{
		width: auto;
		padding: 39px 12px 40px 12px;
	}
	.cms-retourneren-geldteruggave .step-add{
		width: 100%;
		margin: 0 auto;
	}
	.cms-retourneren-geldteruggave .step-add .col-md-4{
		padding: 0;
	}
}
@media (max-width: 411px){
	.custom-category .cap.cap-bottom-left.set_inner a{
		display: unset;
		white-space: nowrap;
	}
}
.korting{
	cursor: pointer;
}
/* 27-06-2019 */
.products-list-ext .product-item-img .alt-img, .items-grid .product-item-img .alt-img{
    margin: 0 auto;
    right:0;
    background-color: #fff;
}
.cms-retourneren-geldteruggave .cstm-stap-row label:after{
	right: 10px;
}
.cms-retourneren-geldteruggave .faq-wrapper label:after{
	right: 15px;
}
@media (max-width: 767px){
	.cms-retourneren-geldteruggave .cstm-stap-row label:after{
		right: 13px;
	}
	.cms-bezorging .main-container #mob .nes_letter{
		display: none;
	}
	.cms-bezorging .main-container #mob .col-md-12{
		padding: 0;
	}
	.schoenen-sec.container{
		padding: 0 10px;
		width: auto;
	}
	.container.custom-category .col-sm-6.clothing .cap-push-right-10{
		width: auto;
		bottom: 18px !important;
	}
	.custom-home-block .newcat:last-child .cap-push-up-10{
		left: 20px;
	}
	.custom-home-block .newcat .cap-push-up-10{
		bottom: 18px !important;
	}
	.block.filter .block-title.filter-title strong{
		display: none;
	}
	.page-products .columns{
		padding-top: 0;
	}
	.category-products-grid .product-item-info a.product-item-link{
		font-size: 20px;
	}
	.category-products-grid.items-grid .product-item-name{
		width: 70%;
	}
	.upsell .items-grid .product-item-name{
		width: 80%;
	}
	.category-products-grid .item .addto-links-icons.addto-onimage{
		top: 45px;
    	float: right !important;
	}
}
@media (min-width: 768px){
	.page-layout-1column .filter.block{
		border-bottom: 1px solid #d1d1d1;
		border-top: none !important;
	}
	.page-layout-1column .filter.block.custom-filter{
		border-bottom: 1px solid #fff;
	}
}
@media (max-width: 480px){
	.category-products-grid.items-grid .product-item-name{
		width: 65%;
	}
	.category-products-grid.items-grid .product-item-name,
	.upsell .items-grid .product-item-name{
		min-height: 42px;
	}
}
@media (min-width: 992px){
	li.nav-item.level0.bezorging,
	li.nav-item.level0.retourneren,
	li.nav-item.level0.custom-menu{
		display: none !important;
	}
}
@media (max-width: 991px){
	#mainmenu ul li.nav-item.product-care a > span{
		text-transform: initial;
	}
}
@media (max-width: 373px){
	.cms-retourneren-geldteruggave .navbar-inverse,
	.cms-ons-verhaal .navbar-inverse,
	.cms-social-responsibility .navbar-inverse,
	.cms-bezorging .navbar-inverse{
		width: auto;
		padding: 15px;
	}
	.cms-retourneren-geldteruggave #maincontent{
		padding: 0 15px;
		width: auto;
	}
	.cms-retourneren-geldteruggave .over-ons-image img{
		width: 100%;
	}
	.cms-retourneren-geldteruggave ._banner_img_m{
		margin: 0;
	}
	.cms-retourneren-geldteruggave .over-ons-image{
		padding-left: 0;
	}
	.cms-retourneren-geldteruggave .cstm-btn h3{
		width: 89%;
	}
	.cms-retourneren-geldteruggave .addres{
		max-width: 98%;
	}
	.cms-retourneren-geldteruggave .faq-wrapper{
		max-width: 98%;
	}
}
@media (max-width: 767px) and (min-width: 576px){
	.catalog-category-view .main-container .inner-container{
		padding-left: 10px !important;
    	padding-right: 10px !important;
	}
	.catalog-category-view.category-meisjes .main-container .inner-container{
		padding-left: 25px !important;
    	padding-right: 25px !important;
	}
}
@media (max-width: 575px) and (min-width: 374px){
	.catalog-category-view .main-container .inner-container{
		padding-left: 15px !important;
    	padding-right: 15px !important;
	}
	.catalog-category-view.category-meisjes .main-container .inner-container{
		padding-left: 25px !important;
    	padding-right: 25px !important;
	}
}
@media (max-width: 575px){
	.catalog-category-view .main-block .mutsen .category_title{
		width: 130px;
	}
}
@media (max-width: 373px){
	.catalog-category-view .main-container .inner-container{
		padding-left: 10px !important;
    	padding-right: 10px !important;
	}
	.catalog-category-view.category-meisjes .main-container .inner-container{
		padding-left: 15px !important;
    	padding-right: 15px !important;
	}
	.catalog-category-view .main-block .row{
		margin: 0;
	}
	.schoenen-sec.container{
		padding: 0 5px;
	}
	.catalog-category-view .main-block .schoenen-sec .row{
		margin-left: -15px;
		margin-right: -15px;
	}
}
.category-products-grid .product-item-info a.product-item-link{
	font-size: 20px;
}
/*28-06-2019 changes*/
.category-products-grid .product-items .item .addto-links-icons .action .icon.ib.ib-hover.ic.ic-heart.addwishlist:before{
	content: '' !important;
	background-image:url(../images/Hart11-v1.png);
    width: 22px;
    top: 15px;
    height: 21px;
    left: 8px;
    background-size: contain;
    position: absolute;
}
.categorypath-schoenen-meisjes .action.tocart.primary{
	display: block;
}
/* 28-06-2019 copy from dev-2 */
/**
 * Mobile Loanguage Switcher
 * @Author Shahid Taj
 * Styling the Dropdown
 */
.location-custom{
    display:none;
}
@media (max-width: 991px) {
	.location-custom {
        position: absolute;
        width: 60%;
        z-index: 10000;
        margin-top: 100px;
        background: white;
        padding: 0;
            padding-top: 0px;
            padding-left: 0px;
        margin: 0 auto;
            margin-top: 0px;
            margin-left: auto;
        margin-top: 0px;
        margin-left: auto;
        margin-left: 20%;
        margin-top: 77px;
        padding-top:30px;
       
        padding-top: 10px;
     }
     .location-custom li{
        border-bottom: 1px solid;
        padding: 2px;
        padding-bottom: 10px;
     }
     .location-custom li a{
        margin:5%;
     }
     .location-flag-last{
        margin:0; 
     }
     location-custom-lang{
         border: none;
     }
     .location-custom-flag{
        width: 16px;
        display: inline-block;
        height: 12px;
        vertical-align: middle;
        margin-right: 5px;
     }
}
/* 28-06-2019 */
.products-upsell .product-item-info .product-item-img .product-item-photo img{
	border: 1px solid #D8D8D8;
}
/* 01-07-2019 changes start */
.block-search .action.search .fa-search::before{
	background-image: url('../images/Zoek.png');
	background-size: contain;
}
@media (min-width: 768px){
	.custom-category .clothing .cap.cap-bottom-left.set_inner a{
		font-size: 18px;
	}
	.fotorama-item.fotorama .fotorama__stage__frame .fotorama__img{
		width: auto;
		max-height: unset;
	}
	.main-container .cap-text-bg-light-1 .text{
		font-size: 18px !important;
	}
	.insta_top h4{
		letter-spacing: 1px;
	}
	.insta_top p{
		font-size: 16px;
	}
	.subs .news .korting h3{
		font-size: 16px;
	}
	.footer .heading{
		font-size: 16px;
	}
	.footer-primary-container ul.bullet li{
		font-size: 12px;
	}
	.subs .news h2{
		font-size: 20px;
	}
	.cms-home .product-item-info a.product-item-link{
		font-size: 15px;
	}
	.main-block .category_title a{
		font-size: 18px;
	}
	.verder{
		width: 48%;
		/*margin-top: 40px;*/
		margin-top: 0;
		font-weight: normal;
		padding: 10px 0;
		font-size: 22px;
	}
	.best{
		float: right;
    	width: 48%;
    	/*margin-top: 40px;*/
    	margin-top: 0;
    	padding: 10px 0;
    	font-size: 22px;
	}
	/*.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing{
		padding-right: 0;
	}*/
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-details{
		width: 75%;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-photo{
		width: 25%;
	}
	.mgk-adcpopup-modal.modal-popup .modal-title{
		font-size: 25px;
		margin-top: 10px;
		font-weight: normal;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name a{
		text-transform: uppercase;
		font-size: 18px;
		color: #898989;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name span{
		color: #898989;
	}
	.category-products-grid .product-item-details .action.tocart.primary{
		font-size: 18px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-inner{
		padding-right: 0 !important;
	}
	.mgk-adcpopup-modal.modal-popup .action-close{
		top: 25px;
	}
	.mgk-adcpopup-modal.modal-popup .action-close:before{
		content: 'X';
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
		font-size: 22px;
    	font-weight: bold;
	}
	.mgk-adcpopup-modal.modal-popup .modal-inner-wrap{
		border: 1px solid #333;
    	box-shadow: none;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap{
		width: 480px!important;
		margin-top: 8%;
	}
	.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary{
		padding: 10px 0px;
		font-size: 22px;
		border-top: 1px solid #333;
		border-bottom: 1px solid #333;
		color: #898989;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		/*width: 55% !important;*/
		width: 47% !important;
		margin-top: 10px;
		padding-left: 2%;
    	padding-right: 2%;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing{
		/*width: 40%;*/
		    width: 45%;
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.mgk-adcpopup-block .product-image-wrapper{
		    padding-bottom: 100% !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .action.delete{
		padding-top: 5px;
    	padding-left: 5px;
    	padding-right: 0;
    	color: #777;
    	font-size: 15px !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .fa{
		font-size: 14px;
	    width: auto;
	    height: auto;
	    color: #898989 !important;
	    padding-top: 13px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		font-size: 18px;	
	}
	.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary span:first-child{
		margin-left: 30px;
	}
	.adcpopup-right{
		margin-right: 50px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price-container{
		/*margin-left: 15% !important;*/
		margin-left: 0% !important;
		width: calc(100% - 15px);
	}
	.cms-home .product-image-photo{
		margin: 0 auto;
		height: 127px;
    	object-fit: contain;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .product-image-container .product-image-photo{
		height: auto !important;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .product.options{
		float: left;
    	clear: left;
    	width: 100%;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .fa:hover{
		cursor: pointer;
		color: #d8d8d8 !important;
	}
}
.home-page-slider .owl-theme .owl-controls.clickable .owl-buttons div,
.slider-arrows2 .owl-controls .owl-buttons div{
	opacity: 1 !important;
}
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-prev,
.cms-home .slider-arrows2 .owl-controls .owl-buttons .owl-next{
	position: absolute;
}
.home-page-slider.owl-carousel{
	display: inline-block !important;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price{
	font-weight: normal;
	font-size: 18px;
	color: #898989;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .options .list .option-item .label{
	display: none;
}
.adcpopupqty{
	font-size: 18px;
	margin-top: 10px !important;
	color: #898989;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .options .list .option-item .values{
	padding: 0;
    border: none;
    font-size: 18px;
    color: #898989;
    padding-left: 2%;
}
.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .mgk-adcpopup-block .adcpopup-content .content-cart .product-item .details-qty{
	margin-top: 15px !important;
	    color: #898989;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .details-qty .ui-spinner-down>span, .mgk-adcpopup-block .adcpopup-content .content-cart .product-item .details-qty .ui-spinner-up>span{
	color: #898989;
}
@media (max-width: 1023px){
	.mgk-adcpopup-block .adcpopup-summary{
		display: block;
	}
}
@media (max-width: 767px){
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-details{
		width: 75%;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-photo{
		width: 25%;
	}
	.mgk-adcpopup-modal.modal-popup .modal-title{
		font-size: 25px;
		margin-top: 10px;
		font-weight: normal;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name a{
		text-transform: uppercase;
		font-size: 18px;
		color: #898989;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name span{
		color: #898989;
	}
	.mgk-adcpopup-block .adcpopup-content .content-inner{
		padding-right: 0 !important;
	}
	.mgk-adcpopup-modal.modal-popup .action-close{
		top: 25px;
	}
	.mgk-adcpopup-modal.modal-popup .action-close:before{
		content: 'X';
		font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
		font-size: 22px;
    	font-weight: bold;
    	margin-right: 13px;
	}
	.mgk-adcpopup-modal.modal-popup .modal-inner-wrap{
		border: 1px solid #333;
    	box-shadow: none;
	}
	/*.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap{
		width: 600px!important;
	}*/
	.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary{
		padding: 10px 0px;
		font-size: 22px;
		border-top: 1px solid #333;
		color: #898989;
		border-bottom: 1px solid #333;
		display: none !important;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		/*width: 55% !important;*/
		width: 47% !important;
		margin-top: 10px;
		padding-left: 2%;
    	padding-right: 5%;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing{
		width: 40%;
		margin-bottom: 0;
    	padding-bottom: 0;
	}
	.mgk-adcpopup-block .product-image-wrapper{
		    padding-bottom: 100% !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .action.delete{
		padding-top: 5px;
    	padding-left: 5px;
    	padding-right: 0;
    	color: #777;
    	font-size: 15px !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .fa{
		font-size: 13px;
	    width: auto;
	    height: auto;
	    color: #898989 !important;
	    padding-top: 13px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		font-size: 18px;	
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price-container{
		margin-left: 15% !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .action.delete{
		margin-right: 0;
	}
	.modal-popup.mgk-adcpopup-modal.modal-slide._show .modal-inner-wrap{
		width: 100% !important;
		background-color: #ffffff;
		max-width: 400px;
    	margin: 0 auto;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .product-image-container .product-image-photo{
		height: auto !important;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .product.options{
		float: left;
    	clear: left;
    	width: 100%;
	}
}
@media (max-width: 479px){
	.mgk-adcpopup-modal.modal-popup .action-close:before{
		font-size: 22px !important;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		margin-top: 0;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		width: 100% !important;
	}
	.modals-wrapper .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing{
		width: 98%;
		margin-bottom: 0;
    	padding-bottom: 0;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-details{
		display: inline-block;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price-container{
		/*margin-top: 15px !important;*/
		margin-left: 0 !important;
    	width: calc(100% - 15px);
    	margin-top: 14px !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .fa{
		margin-top: 5px;
	}
	.modals-wrapper .mgk-adcpopup-modal .modal-inner-wrap .product-item-details > .product.options.list{
		display: none;
	}
	._has-modal .mgk-adcpopup-modal.modal-popup .modal-title{
		letter-spacing: 1px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item{
		margin-bottom: 0;
	}
}
@media (max-width: 375px){
	._has-modal .mgk-adcpopup-modal.modal-popup .modal-title{
		text-align: left;
    	margin-left: 20px;
    	font-size: 16px !important;
	}
}
.modals-overlay{
	background-color: rgba(255,255,255, 0.3);
}
/*Home Page Changes*/
@media screen and (max-width: 767px){
	.cms-home .items-grid.centered .product-item-photo .product-image-photo{
	    max-height: 110px;
    	object-fit: contain;
    	margin: 0 auto;
    	min-height: 110px;
	}	
}
@media screen and (max-width: 480px){
	.cms-home .items-grid.centered .product-item-photo .product-image-photo{
	    max-height: 72px;
	    min-height: 72px;
	}
}
/*@media screen and (max-width: 420px){
	.cms-home .items-grid.centered .product-item-photo .product-image-photo{
	    max-height: 61px;
	    min-height: 61px;
	}
}
@media screen and (max-width: 375px){
	.cms-home .items-grid.centered .product-item-photo .product-image-photo{
	    max-height: 47px;
	    min-height: 47px;
	}
}*/
/* 04-July-2019 changes*/

@media (min-width: 374px) and (max-width: 767px){
	.navbar-inverse{
		padding: 14px 25px !important;
	}
}	

@media (min-width: 320px) and (max-width: 374px){
    
   .navbar-inverse{
		padding: 14px 25px !important;
	} 
}

@media (max-width: 480px) {
    .schoenen-sec .category_title, .main-block .category_title {
	max-width: 120px;
	}
} 
/*05-07-2019 Product page sku changes start*/
@media screen and (max-width: 767px){
    .product-info-main .product.attribute.sku{
    	display: block;
    	width: 100%;
    	padding: 0;
    	margin: 0;
    }
}
/*05-07-2019 Product page sku changes end*/
/*08-07-2019 changes*/
.category-products-grid.items-grid .price-box {
    padding-right: 25px;
}
.customer-account-login .action.primary:hover, .customer-account-login .action.primary:focus {
    background-color: #D3D3D3;
    color: #fff !important;
}
.customer-account-create .action.primary:hover, .customer-account-create .action.primary:focus{
	background-color: #D3D3D3;
}
@media screen and (max-width: 767px){	
	.product-info-main .product.attribute.sku {
	    display: inline-block;
	    float: left;
	    width: auto;
	    padding: 0px 10px;
	    line-height: 20px;
	    border-left: 1px solid #7d7d7d;
	}
	.catalog-product-view .product-info-main .page-title-wrapper h1.page-title {
	    font-size: 16px;
	}
	.block.itemslider .products .item {
	    padding-left: 7px;
	    padding-right: 7px;
	}
	.products-upsell .product-item-info .product-item-img .product-item-photo img {
	    border: unset;
	    margin: 0 auto;
	}
	.products-upsell .product-item-info .product-item-img{
		border: 1px solid #D8D8D8;
	}
	.products-upsell .product-item-info .product.details.product-item-details{
		text-align: left;
	}
}
@media screen and (min-width: 768px){
	.price-box.price-final_price span.price-wrapper span.price{
		line-height: 26px;
	}
	.catalog-product-view .product-view .product-primary-column {
	    margin-bottom: 0;
	}
	.product-info-main .product-add-form{
		border-bottom: 1px solid #333;
	}
	.products-upsell .product-item-info .product-item-img .product-item-photo img {
	    border: unset;
	}
}
.catalog-product-view .product-primary-column .product-info-main .price-box.price-tier_price {
    display: none;
}
.catalog-product-view .modal-popup.modal-slide .modal-footer {
    display: none !important;
}
.product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart {
    font-family: PT_Serif-Web-Regular;
}
.catalog-product-view .maattabel-popup .popup-bdr{
	display: none;
}
.catalog-product-view._has-modal .maattabel-popup .popup-bdr{
	display: block;
}
/* 09-07-2019 product page changes start */
.product-info-main #product-options-wrapper select{
	font-family: PT_Serif-Web-Regular;
}
#wpn-lightbox-content form .action.subscribe.primary,
div#wpn-lightbox-content.weltpixel-custom button{
	font-family: PT_Serif-Web-Regular;
}
.minicart-wrapper .block-minicart{
	display: none;
}
@media (max-width: 767px){
	.product-info-main .product.attribute.sku{
		font-style: normal;
	}
	.mobile_dropdown{
		font-size: 14px;
    	line-height: 2;
	}
	.product-info-main .page-title-wrapper.product{
		    margin-bottom: 30px;
	}
}
@media (min-width: 768px){
	.filter-content .filter-options{
		border-bottom: 1px solid #d1d1d1;
		/*padding-bottom: 10px;*/
	}
	.page-layout-1column .filter.block{
		border-bottom: 1px solid #fff;
	}
	.page-layout-1column .filter-actions{
		display: none !important;
	}
	.page-layout-1column .filter-current{
		width: 100%;
	    display: inline-block !important;
	    text-align: left;
	    margin-top: 10px;
	}
}
.filter .block-subtitle,
.filter-value{
	color: #333 !important;
}
/*10-07-2019 changes*/
@media (min-width: 768px){
	.ban .text.mob_btn{
		display: inline-block;
		margin-right: 0;
	}
	.ban .text.mob_hide{
		display: none;
	}
	.owl-wrapper .cap-push-left-10 a {
	    margin-right: 15px;
	}
}
.filters-collapsed .block-content.filter-content .filter-options-title strong {
    font-weight: 400;
    color: #626262;
}
.filters-collapsed .block-content.filter-content .filter-options-title:hover strong{
    color: #d3d3d3;
}
.filters-collapsed .block-content.filter-content .filter-options-title:hover:after {
    color: #d3d3d3;
}
.filters-collapsed .block-content.filter-content .filter-options-content{
	border-top: 1px solid;
	width: 140px;
}
@media screen and (max-width: 767px){
	.block.filter .block-title.filter-title strong{
		display: block;
	}
	.filters-collapsed .block-content.filter-content .filter-options-content{
		width: 100%;
	}
	.page-layout-1column .filters-collapsed .filter-options-title::after{
		top: 12px;
	}
	li.switcher-option {
	    float: left;
	    width: 98% !important;
	}
	.location-custom-flag{
		background-repeat: no-repeat;
    	margin-top: 2px;
    	height: auto;
	}
	.location-custom{
		margin-top: 76px;
	}
	.filters-collapsed .block-content.filter-content{
		margin-top: 40px;
	}
	.filters-collapsed.filter-no-options .block-content.filter-content {
	    margin-top: 0;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px){
	.category-products-grid.items-grid .product-item-name{
		width: 75%;
	}
	.category-products-grid .item .addto-links-icons.addto-onimage{
		float: right;
		top: 45px;
	}
} 
.insta_top iframe{
	transform: scale(0.99);
}
@media screen and (max-width: 767px){
	.dropdown-block .dropdown-heading .caret{
		display: none;
	}
	.dropdown-block.open .dropdown-content,
	.dropdown-block.filled-heading.open .dropdown-heading{
		box-shadow: none !important;
	}
	.dropdown-block .dropdown-content{
		top: 183%;
		padding: 0;
		padding-top: 10px;
		width: 450px;
	}
	.dropdown-block .dropdown-content>li{
		border-bottom: 1px solid;
    	padding: 10px 0;
	}
	.dropdown-block .dropdown-content>li a{
		padding: 0 5% !important;
		font-size: 16px !important;
	}
	.navbar-inverse .navbar-nav:first-child{
		margin-top: 10px;
	}
	.dropdown-block .dropdown-content li.switcher-option{
		width: 100% !important;
	}
	.dropdown-block .dropdown-heading .dropdown-icon{
		width: 20px;
		background-size: contain;
	}
	.mobile-language-switcher{
		margin-top: 10px !important;
	}
	#mobile-language.active{
		display: block;
		position: fixed;
	    z-index: 999;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    background: rgba(255,255,255,0.8);
	}
	.dropdown-block .dropdown-content{
		z-index: 9999;
	}
	.navbar-inverse{
		z-index: 9999;
	}
}
@media screen and (max-width: 600px){
	.dropdown-block .dropdown-content{
		width: 350px;
	}
}
@media screen and (max-width: 480px){
	.dropdown-block .dropdown-content{
		width: 300px;
	}
}
@media screen and (max-width: 400px){
	.dropdown-block .dropdown-content{
		width: 270px;
	}
	.modal-popup.mgk-adcpopup-modal.modal-slide._show, .modal-popup.modal-slide._inner-scroll._show{
		top: 14%;
	}
}
@media screen and (max-width: 375px){
	.dropdown-block .dropdown-content{
		width: 240px;
	}
}
@media screen and (max-width: 360px){
	.modal-popup.mgk-adcpopup-modal.modal-slide._show, .modal-popup.modal-slide._inner-scroll._show{
		top: 14%;
	}
}
@media screen and (max-width: 320px){
	.dropdown-block .dropdown-content{
		width: 200px;
	}
}
._keyfocus *:focus, input:not([disabled]):focus, textarea:not([disabled]):focus, select:not([disabled]):focus{
	box-shadow: unset;
    border-color: #c2c2c2;
}
.mgk-adcpopup-modal.modal-popup .modal-title{
	font-family: PT_Serif-Web-Regular;
    font-weight: bold;
}
/*15-07-2019 changes*/
.products-upsell .product-item-info .product-item-img{
	border: unset;
}
@media screen and (max-width: 991px){
	#mainmenu li.custom-menu > a > span{
		text-transform: initial !important;
	}
	.header.sticky {
	    position: fixed;
	    top: 0;
	    width: 100%;
	    background-color: #ffffff;
	}
}
@media screen and (max-width: 767px){
	.cms-contact #mob .cont_box1 ul li p{
		padding: 0px 0px;
	    line-height: 16px;
	    font-size: 18px;
	    font-weight: 400;
	    color: #000;
	    text-decoration: none;
	    font-family: 'PT_Serif-Web-Regular';
	}
	.cont_box1 ul li a:hover {
	    color: unset !important;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row .cstm-padding .col-sm-5{
		padding-top: 7px;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row .col-sm-5.col-xs-4.voeg {
	    padding-top: 7px;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row .col-sm-5.col-xs-4.sstetf{
		padding-top: 7px;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row.sturr img{
		margin-top: 0 !important;
    	padding-top: 7px;
	}
	.cms-retourneren-geldteruggave .contact .stap-description a:hover{
		color: unset !important;
	}
	.customer-account-index .page-title-wrapper .page-title{
		display: none;
	}
	.account-nav .item .delimiter{
		border-top: unset;
	}
	.account-nav .item.current a, .account-nav .item.current strong{
		border-color: transparent;
	}
	.customer-account-index .page-main{
		padding-top: 0;
	}
	.modal-popup button.action-close{
		z-index: 1;
	}
	.fotorama__fullscreen .fotorama--fullscreen{
		z-index: 9999 !important;
	}
	.fotorama__fullscreen .fotorama--fullscreen .fotorama__arr.fotorama__arr--next, 
	.fotorama__fullscreen .fotorama--fullscreen .fotorama__arr.fotorama__arr--prev{
		display: block !important;
	}
	.fotorama .fotorama__arr.fotorama__arr--next, .fotorama .fotorama__arr.fotorama__arr--prev{
		display: block !important;
	}
}
/*category sizechart 16-07-19 start*/
.catalog-category-view .modal-popup.modal-slide .modal-footer{
    display: none !important;
}
/*category sizechart 16-07-19 end*/
/*16-07-2019 changes*/
@media (max-width: 480px) and (min-width: 375px){
	body div#wpn-lightbox-content{
		width: 58%;
    	left: 30% !important;
	}
}
@media (max-width: 374px){
	body div#wpn-lightbox-content{
		width: 55%;
    	left: 30% !important;
	}
}
body._has-modal .magnify-lens{
	display: none;	
}
body._has-modal .magnifier-preview{
	display: none;
}
/*17-07-2019 changes*/
@media screen and (min-width: 992px){
	#header-search {
	    margin-left: -11px;
	}
	.dropdown-block{
		margin-left: -11px;
	}
	ul.nav.navbar-nav.right-icons.hidden-sm.hidden-xs li a{
		margin-left: 3px;
	}	
}
.block-search .action.search .fa-search::before{
	background-repeat: no-repeat;
}
.mgk-adcpopup-modal.modal-popup .modal-title{
	font-size: 18px;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name a{
	font-size: 14px;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
	font-size: 14px;
}
.adcpopupqty{
	font-size: 14px;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-pricing .price{
	font-size: 14px;
}
.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary{
	font-size: 14px;
}
.modal-popup .verder{
	font-size: 16px;
}
.modal-popup .best{
	font-size: 16px;
}
.block-minicart .block-content>.actions>.primary .action.primary{
	font-size: 16px;
}
.block-minicart .block-content>.actions span{
	font-size: 16px;
}
.block-content .minicart-items-wrapper{
	height: auto !important;
	max-height: 215px;
}
@media screen and (max-width: 991px){
	.account.wishlist-index-index .right-icons li:nth-child(4):before, 
	.account.wishlist-index-index .mobile-menu .mobile-hart li:before{
		top: 3px !important;
	}
}
/* 18-07-2019 font changes */
@media (min-width: 768px){
	.main-container .cap-text-bg-light-1 .text{
		font-size: 16px !important;
	}
	.custom-category .clothing .cap.cap-bottom-left.set_inner a{
		font-size: 16px;
	}
	.insta_top h4{
		font-size: 16px;
	}
	.insta_top p{
		font-size: 14px;
	}
	.ban.ban-2 h2.custm-cap{
		font-size: 16px !important;
	}
	.subs .news h2{
		font-size: 16px;
	}
	.news p{
		font-size: 14px;
	}
	.footer-primary-container ul.bullet li{
		font-size: 14px;
	}
	.main-block .category_title a{
		font-size: 16px;
	}
	.cms-contact .block-static-block p,
	.cms-contact .block-static-block a{
		font-size: 14px !important;
	}
	.cms-contact .block-static-block .contact-heading{
		font-size: 16px !important;
	}
	.filters-collapsed .block-content.filter-content .filter-options-title{
		font-size: 16px;
	}
	.category-products-grid .product-item-info a.product-item-link{
		font-size: 14px;
	}
	.price-box.price-final_price span.price-wrapper span.price{
		font-size: 14px;
	}
	.total_maps{
		font-size: 14px !important;
	}
	#scrollbar1 .overview .content .store a{
		font-size: 14px !important;
	}
	.collapsible-sec .collapse h2{
		font-size: 18px !important;
	}
	.collapsible-sec .collapse p{
		font-size: 14px !important;
	}
	body.cms-retailers h2,
	.cms-b2b1 h2{
		font-size: 18px;
	}
	.content-retailers p,
	.cms-b2b1 p{
		font-size: 14px !important;
	}
	a.retail-enqu,
	.cms-b2b1 .login-btn{
		font-size: 16px !important;
	}
	.product-info-main .page-title-wrapper h1.page-title{
		font-size: 18px !important;
	}
	.product-info-main .product.attribute.sku{
		font-size: 14px !important;
	}
	.size_chart p{
		font-size: 16px !important;
	}
	#openModel a#titleSizeChart{
		font-size: 16px;
	}
	.product.data.items.stacked-tabs > .item.title strong{
		font-size: 16px;
	}
	.product-info-main .box-tocart .action.tocart, .product-options-bottom .box-tocart .action.tocart{
		font-size: 16px;
	}
	.upsell .items-grid .product-item-name{
		width: 80%;
	}
	#block-upsell-heading{
		font-size: 18px;
	}
	.product-item-info a.product-item-link{
		font-size: 14px !important;
	}
	.price-box.price-final_price span.price-wrapper span.price{
		font-size: 14px !important;
	}
	.customer-account-login .page-title-wrapper .page-title{
		font-size: 18px;
	}
	.login-container .block .block-title strong{
		font-size: 16px;
	}
	.customer-account-login .actions-toolbar .primary .action{
		font-family: PT_Serif-Web-Regular;
    	font-size: 16px;
	}
	.over-ons-content h3{
		font-size: 14px !important;
	}
	.over-ons-bottom{
		font-size: 14px !important;
	}
	.over-ons-content h2{
		font-size: 18px !important;
	}
	.over-ons-content h3{
		font-size: 14px;
	}
	.over-ons-content p{
		font-size: 14px !important;
	}
	body .bezorging-content h2,
	body .Carriers.row h2{
		font-size: 18px;
	}
	.bezorging-content p{
		font-size: 14px !important;
	}
	.custom_form label{
		font-size: 16px !important;
	}
	.bezorging-content select{
		font-size: 16px;
		font-family: PT_Serif-Web-Regular;
	}
	.betalen-sec h2{
		font-size: 18px;
	}
	.betalen-sec p{
		font-size: 14px !important;
	}
	.betalen-sec form label{
		font-size: 16px !important;
	}
	.betalen-sec .payment-methods h2{
		font-size: 18px !important;
	}
	.betalen-sec .form-control{
		font-size: 14px;
	}
	.stap{
		font-size: 16px !important;
	}
	.cms-retourneren-geldteruggave .cstm-stap-row .stap-description{
		font-size: 14px !important;
	}
	.cstm-btn h3{
		font-size: 16px !important;
	}
	.designer a{
		font-size: 16px !important;
	}
	.vacatr p{
		font-size: 14px !important;
	}
	.vacatr h2{
		font-size: 18px !important;
	}
	.cms-retourneren-geldteruggave .addres label p{
		font-size: 16px;
		line-height: 2.7;
	}
	.cms-retourneren-geldteruggave .faq-wrapper label{
		font-size: 16px;
	}
	.contact .stap{
		font-size: 18px !important;
	}
	.main-container .cute_grid.feature_product h2{
		font-size: 18px !important;
	}
}
@media (max-width: 480px) and (max-height: 736px){
	#mainmenu ul{
		height: 100%;
		max-height: 640px;
    	overflow-y: scroll;
	}
}
@media (max-width: 480px) and (max-height: 667px){
	#mainmenu ul{
		height: 100%;
		max-height: 570px;
    	overflow-y: scroll;
	}
}
@media (max-width: 480px) and (max-height: 568px){
	#mainmenu ul{
		height: 100%;
		max-height: 470px;
    	overflow-y: scroll;
	}
}
@media (max-width: 480px) and (max-height: 480px){
	#mainmenu ul{
		height: 100%;
		max-height: 382px;
    	overflow-y: scroll;
	}
}
/* 19-07-2019 mobile font changes start */
@media (max-width: 767px){
	.custom-category .cap.cap-bottom-left.set_inner a{
		font-size: 16px;
	}
	.cms-home .product-item-info a.product-item-link{
		font-size: 14px;
	}
	.catalog-product-view .product-info-main .page-title-wrapper h1.page-title{
		font-size: 14px;
	}
	.product-info-main .product.attribute.sku{
		font-size: 14px !important;
	}
	.product.data.items.stacked-tabs > .item.title strong{
		font-size: 18px;
	}
	.product-info-main .box-tocart .action.tocart span{
		font-size: 16px;
	}
	.price-box.price-final_price span.price-wrapper span.price{
		font-size: 14px !important;
	}
	.subs .news h2,
	.cms-retourneren-geldteruggave .subs .news h2,
	.customer-account-login .subs .news h2{
		font-size: 18px;
	}
	.news p,
	.cms-retourneren-geldteruggave .subs .news p,
	.customer-account-login .news p{
		font-size: 14px;
	}
	.subs .news .korting h3,
	.customer-account-login .subs .news .korting h3{
		font-size: 16px;
	}
	.main-block .category_title a{
		font-size: 16px;
	}
	.block.filter .block-title.filter-title strong{
		font-family: PT_Serif-Web-Regular;
	}
	.category-products-grid .product-item-info a.product-item-link{
		font-size: 14px;
	}
	.price-box.price-final_price span.price-wrapper span.price{
		font-size: 14px;
	}
	.products-upsell .product-item-info a.product-item-link, .products-upsell .price-box.price-final_price span.price-wrapper span.price{
		font-size: 14px;
	}
	.cont_box1 h2{
		font-size: 18px !important;
	}
	.cont_box1 p,
	.cont_box1 ul li a,
	.cms-contact #mob .cont_box1 ul li p,
	.cont_box1 ul li{
		font-size: 14px !important;
	}
	.mobile .content h2{
		font-size: 18px;
	}
	.mobile .content p, .mobile .note {
	    font-size: 14px !important;
	}
	.custom_form label{
		font-size: 16px !important;
	}
	.banner_text_base p{
		font-size: 18px !important;
	}
	.he_text {
		font-size: 14px !important;
	}
	.cms-retourneren-geldteruggave .stap {
		font-size: 16px;
	}
	.cms-retourneren-geldteruggave .stap-description{
		font-size: 14px !important;
	}
	.cstm-btn h3{
		font-size: 16px;
	}
	.cms-retourneren-geldteruggave .addres label p{
		font-size: 16px;
		line-height: 2.7;
	}
	.cms-retourneren-geldteruggave .faq-wrapper label{
		font-size: 16px;
	}
	.cms-retourneren-geldteruggave .contact .stap{
		font-size: 18px;
	}
	.cms-retourneren-geldteruggave .contact .stap-description{
		font-size: 14px !important;
	}
	.cms-product-care .collapsible-sec .collapse h2{
		font-size: 16px;
	}
	.cms-product-care  .collapsible-sec .collapse h2::before{
		right: 15px;
		top: 5px;
	}
	.cms-product-care .collapsible-sec .collapse p{
		font-size: 14px;
	}
	.category-ons-verhaal .over-ons-bottom{
		font-size: 14px;
	}
	.customer-account-login .login-form .field.note{
		font-size: 18px;
	}
	.customer-account-login .login-form .login label span{
		font-size: 16px;
	}
	.customer-account-login .login-form .action.login,
	.customer-account-login a.request-btn,
	.customer-account-login .login-form .log_in_btn{
		font-size: 16px;
	}
	.customer-account-login .block-new-customer.visible-xs h3{
		font-size: 18px;
	}
	.customer-account-login .block-new-customer.visible-xs p{
		font-size: 14px;
	}
	.catalog-product-view #block-upsell-heading{
		font-size: 18px;
	}
	.catalog-product-view #openModel a{
		font-size: 16px !important;
	}
	.header.sticky{
		z-index: 999;
	}
}
/* 19-07-2019 mobile font changes end*/
/* 22-07-2019 popup font changes */
@media (min-width: 768px){
	.mgk-adcpopup-modal.modal-popup .modal-title{
		letter-spacing: 1px;
	    font-weight: 400;
	    font-size: 18px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name a{
		letter-spacing: 1px;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .options .list .option-item .values{
		font-size: 14px;
	}
	.modal-popup .verder{
		letter-spacing: 1px;
		font-family: PT_Serif_Web_Regular;
		font-size: 16px;
		font-weight: 400;
	}
	.modal-popup .best{
		font-size: 16px;
	    letter-spacing: 1px;
	    font-family: PT_Serif_Web_Regular;
	    font-weight: 400;
	}
	.block-minicart .amount .price-wrapper:first-child .price{
		font-size: 14px;
		font-weight: 400;
	}
	.block-minicart .block-content>.actions>.primary .action.primary{
		font-size: 16px;
	    font-family: PT_Serif-Web-Regular;
	    letter-spacing: 1px;
	    font-weight: 400;
	    font-style: normal;
	}
	.minicart-items .product-item-name a{
		letter-spacing: 1px;
	}
	.minicart-items .product .toggle{
		letter-spacing: 1px;
	}
	.minicart-items .product-item-details .price{
		font-weight: 400;
		letter-spacing: 1px;
	}
	.block-minicart .block-content>.actions span{
		letter-spacing: 1px;
	}
	.block-minicart .items-total{
		letter-spacing: 1px;
	}
	.block-minicart .subtotal{
		letter-spacing: 1px;
	}
	.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary{
		letter-spacing: 1px;
	}
}
@media (max-width: 767px){
	._has-modal .mgk-adcpopup-modal.modal-popup .modal-title{
		font-size: 18px !important;
		font-weight: 400;
	}
	._has-modal .mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name{
		font-size: 14px !important;
		letter-spacing: 1px;
	}
	.adcpopupqty{
		font-size: 14px !important;
	}
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item .options .list .option-item .values{
		font-size: 14px;
		letter-spacing: 1px;
	}
	.modal-popup .best{
		letter-spacing: 1px;
		font-size: 16px;
		font-weight: 400;
	}
	.modal-popup .verder{
		letter-spacing: 1px;
		font-weight: 400;
		font-size: 16px;
	}
	.modals-wrapper .mgk-adcpopup-modal .adcpopup-summary{
		letter-spacing: 1px;
	}
}
/* 22-07-2019 category title changes */
@media (max-width: 480px){
	.schoenen-sec .category_title, .main-block .category_title{
		max-width: 100%;
	}
}
@media (max-width: 340px){
	.schoenen-sec .category_title, .main-block .category_title{
		max-width: 135px;
	}
}
/* 23-07-2019 */
@media (max-width: 767px){
	.modal-popup .verder,
	.modal-popup .best{
		padding: 7px 0;
	}
	.modal-popup .best{
		margin-top: 10px;
	}
	.modal-popup .verder{
		margin-top: 15px;
	}
	.navbar.navbar-inverse .nav.navbar-nav li .lang-mob-span{
		padding: 0 10px;
		font-size: 16px;
	}
}
.price-box.price-final_price span.price-wrapper span.price{
	font-family: PT_Serif-Web-Regular;
}
.minicart-items .product-item-details .details-qty{
	display: none;
}
.minicart-wrapper .product .actions{
	margin: -60px 0 0;
}
.block-content .minicart-items-wrapper{
	border-top: 0;
    padding-top: 0;
}
.block-minicart .subtotal,
.block-minicart .items-total{
	margin-top: 10px;
}
.minicart-wrapper .block-minicart{
	margin-bottom: 0;
}
.block-minicart .subtotal{
	margin-bottom: 25px;
}
.minicart-items .product-item-name a{
	margin-left: 0 !important;
}
@media (min-width: 768px){
	.total-cart-custom,
	.mob-cont-shop{
		display: none;
	}
}
@media (max-width: 767px){
	.cart.table-wrapper .product-item-name+.item-options{
		display: none;
	}
	.cart.table-wrapper .actions-toolbar>.action, .action-gift{
		font-family: PT_Serif_Web_Regular;
    	font-size: 16px;
	}
	.cart.table-wrapper .col.qty,
	.cart.table-wrapper .col.subtotal{
		display: none;
	}
	.cart.table-wrapper .col.price:before{
		display: none;
	}
	.cart.table-wrapper .item .col.item{
		width: 50%;
		float: left;
	}
	.checkout-cart-index .price-including-tax .price{
		font-size: 14px;
		line-height: 2.2;
	}
	.cart.table-wrapper .col.price{
		width: 26%;
	    padding-right: 0;
	    text-align: right;
	}
	.cart.table-wrapper th{
		display: none;
	}
	.checkout-cart-index .page-title{
		margin-bottom: 10px;
    	font-size: 18px;
	}
	.mob-cont-shop .mob-cont-shop-checkout a{
		color: #fff;
	    padding: 7px 0;
	    text-align: center;
	    font-size: 16px;
	    background-color: #333;
	    display: block;
	}
	.mob-cont-shop-url .action-continue-mob{
		background: #eee;
		padding: 7px 0;
	    text-align: center;
	    font-size: 16px;
	    color: #333;
	    display: block;
	    margin-top: 15px;
	}
	.cart-container .form-cart .actions{
		display: none;
	}
	.cart.table-wrapper{
		margin-bottom: 10px;
	}
	.total-cart-custom{
		padding-bottom: 10px;
	    margin-bottom: 30px;
	    border-bottom: 1px solid #d1d1d1;
	}
	.total-cart-custom .title-cart-custom-val{
		float: right;
	}
}
/*@media (max-width: 991px){
	.nav-regular .opener {
	    position: absolute;
	    right: 0;
	    top: 0;
	    display: block;
	    cursor: pointer;
	    text-align: center;
	    width: 50px;
	    height: 50px;
	    line-height: 50px;
	    color: #333;
	    font-size: 12px;
	    z-index: 99;
	}
	.nav-acco .opener:before {
	    content: "\e23c";
	    display: inline-block;
	    font-family: ThemeIcons;
	    font-style: normal;
	    font-weight: normal;
	    font-variant: normal;
	    text-transform: none;
	    -webkit-font-smoothing: antialiased;
	}
	#myNavbar ul li{
		position: relative;
		width: 100% !important;
	    padding: 0 !important;
	    margin: 0 !important;
	}
}
*/
.ons-verhaal-mobile{
	display: none;
}
@media screen and (max-width: 767px){
	.cms-ons-verhaal #ons_over{
		display: none;
	}
	.ons-verhaal-mobile{
		display: block;
	}
	.ons-verhaal-mobile .main-banner {
		position: relative;
		margin-bottom: 25px;
	}
	.ons-verhaal-mobile .main-banner h1{
		position: absolute;
	    width: 100%;
	    bottom: 16%;
	    text-align: center;
	    color: #fff;
	    margin: 0px;
	    font-size: 30px;
	    letter-spacing: 1px;
	    font-family: PT_Serif-Web-Regular;
	}
	.ons-verhaal-mobile {
	    text-align: center;
	}
	.ons-verhaal-mobile p{
		font-size: 14px;
	    line-height: 1.2;
	    letter-spacing: 1px;
	    color: #000;
	    padding-bottom: 18px;
	}
	.two-img-block{
		display: inline-block;
	}
	.two-img-block li {
	    width: 47%;
	    display: inline-block;
	    float: right;
	}
	.two-img-block li:first-child{
		float: left;
	}
	.two-img-block li img {
	    max-height: 360px;
	    object-fit: cover;
	    width: 100%;
	}
	.two-img-block{
		margin-bottom: 15px;
	}
	.block-two {
	    margin-bottom: 25px;
	}
	.collection-title h1{
	    font-family: SnellBT-Regular;
	    font-size: 34px;
	    letter-spacing: 2px;
	    text-transform: initial;
	    margin-top: 20px;
	}
	.collection-title h2{
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 640px){
	.two-img-block li img {
		min-height: 360px;
	}
}
@media screen and (max-width: 480px){
	.two-img-block li img {
		min-height: 303px;
	}
}
@media screen and (max-width: 420px){
	.two-img-block li img {
		min-height: 260px;
	}
}
@media screen and (max-width: 375px){
	.two-img-block li img {
		min-height: 230px;
	}
}
/*30-07-2019 changes*/
@media screen and (max-width: 767px){
	.checkout-cart-index .cart-summary {
	    display: none;
	}
	.checkout-cart-index #shopping-cart-table .actions-toolbar .action.action-edit {
	    display: none;
	}
	.cart.table-wrapper .product-item-name+.item-options{
		display: block;
	}
}
@media screen and (max-width: 400px){
	.modal-popup.mgk-adcpopup-modal.modal-slide._show{
		top: 17%;
	}
}
.product.media .fotorama .fotorama__arr--next .fotorama__arr__arr {
    background-position: -135px -80px;
    left: 10px;
}
.product.media .fotorama .fotorama__arr--prev .fotorama__arr__arr {
    background-position: -107px -80px;
    left: -10px;
}
.product.media .fotorama .fotorama__arr .fotorama__arr__arr{
	transform: scale(0.6);
	-moz-transform:scale(0.6);
}
.cms-retourneren-geldteruggave .footer-container.page-footer .subs{
	display: block !important;
}
.cms-retourneren-geldteruggave .footer-container.page-footer .subs .news h2{
	font-size: 16px;
}
.cms-retourneren-geldteruggave .footer-container.page-footer .subs .news p{
	font-size: 14px;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-photo{
	pointer-events: none;
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name a{
	pointer-events: none;
}
.customer-account-index .page.messages{
	display:none;
}
.wishlist-index-index .page.messages{
	display:none; 
}
/*31-07-2019*/
/*.checkout-cart-index .cart.table-wrapper .actions-toolbar>.action-towishlist{
	display: none;
}*/
.navi-wrapper .nav-mobile .nav-item.level0.current > a{
	background-color: #D3D3D3;
	color: #000000;
}
.navi-wrapper .navi.nav-mobile ul.level0 .nav-item.current > a{
	background-color: #D3D3D3;
}
/*cart page changes 31-07-2019 start*/
@media screen and (max-width: 767px){
	.mob-item-qty{
	display: block !important;
	font-size: 12px;
	}
}
/*cart page changes 31-07-2019 end*/
/*01-08-2019 product page size popup start*/
.modal-popup._inner-scroll .modal-inner-wrap{
	border: 1px solid #333;
	box-shadow: none;
}
.category-products-grid .product-items .item .addto-links-icons .action.towishlist .icon.ic-heart.gray-heart:before{
	content: '' !important;
    background-image: url(../images/Hart11-v1.png);
    width: 22px;
    top: 15px;
    height: 21px;
    left: 8px;
    background-size: contain;
    position: absolute;
}
/*01-08-2019 product page size popup end*/
.minicart-wrapper .minicart-items .action.edit{
	display: none;
}
.header.sticky ~ .main-container {
    padding-top: 86px !important;
 }
 .price-box.price-configured_price span.price-wrapper span.price{
 	color: #626262;
 }
 .minicart-wrapper .product .product.options ~ .actions {
 	margin: -60px 0 0;
 }
 .minicart-wrapper .product .actions{
 	margin: -35px 0 0;
 }
 .catalog-product-view #myModel{
 	display: none;
 }
 .catalog-product-view._has-modal .modal-popup._inner-scroll .modal-inner-wrap #myModel{
 	display: block;
 }
 @media screen and (max-width: 767px){
 	.price-box.price-configured_price span.price-wrapper span.price{
 		font-size: 14px;
 	}
 }
 .account.page-layout-2columns-left .sidebar-additional{
 	display: none;
 }
.products-upsell .product-item-info .product.details.product-item-details .fa-heart-o.gray-heart:before{
	content: '' !important;
    width: 22px;
    height: 21px;
    background-size: contain;
    position: absolute;
    background-image: url(../images/Hart11-v1.png);
    background-repeat: no-repeat;
}
@media screen and (min-width: 992px){
	.catalog-product-view .modal-popup .modal-inner-wrap{
		margin-top: 85px;
	}
}
@media screen and (min-width: 768px){
	.catalog-product-view .block.upsell.itemslider .items-grid-thumbnails .owl-item .items-group .item{
		float: left;
	}
	.catalog-product-view .block.upsell.itemslider .items-grid-thumbnails .owl-item .items-group .item:first-child{
		padding-top: 10px;
	}
	.upsell .items-grid .product-item-name {
	    width: 99%;
	}
}
.catalogsearch-result-index .page-title{
	font-size: 18px;
	font-family: PT_Serif-Web-Regular;
}
.catalogsearch-result-index.page-layout-2columns-left .sidebar-additional{
	display: none;
}
.catalogsearch-result-index .product-item .tocart, .catalogsearch-result-index .product-items .item .tocart{
	display: none;
}
@media screen and (max-width: 767px){
	.catalogsearch-result-index .block-content.filter-content .filter-options-title{
		font-size: 18px;
	    font-weight: normal;
	    text-transform: capitalize;
	}
	.catalogsearch-result-index .block-content.filter-content .filter-options-item{
		margin: 0 50px;
	}
	.catalogsearch-result-index .block-content.filter-content{
		text-align: center;
	}
	.products-upsell .product-item-info .product.details.product-item-details{
		text-align: center;
	}
	.upsell .items-grid .product-item-name{
		width: 100%;
	}
}
.checkout-index-index a:hover{
	color: #898989 !important;
}
.checkout-index-index .action.primary:hover, .checkout-index-index .action.primary:focus{
	background-color: #898989;
}
.checkout-index-index .action.primary{
	font-family: PT_Serif-Web-Regular;
	letter-spacing: 1px;	
}
.checkout-index-index #checkout{
	font-family: PT_Serif-Web-Regular !important;
	letter-spacing: 1px !important;	
}
.checkout-index-index .checkout-container .step-title, .checkout-index-index  div#iosc-summary span.step-title{
	font-size: 16px;
    letter-spacing: 1px;
}
.checkout-index-index .checkout-container label {
    font-size: 14px;
    letter-spacing: 1px;
}
.checkout-index-index .methods-shipping .actions-toolbar .action.primary {
    font-size: 16px;
}
.checkout-index-index #block-discount-heading {
    font-size: 16px;
    letter-spacing: 1px;
}
.checkout-index-index #discount-form button{
	font-size: 16px;
	font-family: PT_Serif-Web-Regular;
	letter-spacing: 1px;
}
.checkout-index-index #discount-form button:hover {
    background-color: #898989;
}
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .authentication-wrapper button:hover{
	color: #898989;
}
.checkout-index-index.page-layout-1column .column.main #checkout.checkout-container .authentication-wrapper button{
	font-size: 14px;
	font-family: PT_Serif-Web-Regular;
	letter-spacing: 1px;
}
.checkout-index-index .opc-block-summary>.title{
	font-size: 16px;
	letter-spacing: 1px;
}
.checkout-index-index .column.main .block .title strong {
    font-size: 16px;
}
.checkout-index-index .opc-block-shipping-information .shipping-information-title{
	font-size: 16px;
	letter-spacing: 1px;
}
.checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary{
	font-size: 16px;
}
.checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary:hover, 
.checkout-payment-method .payment-method-content>.actions-toolbar>.primary .action.primary:focus{
	background-color: #898989;
}
.products-upsell .product-item-actions .secondary-addto-links.actions-secondary a.towishlist{
	display: none;
}
.minicart-items .product-item-details .details-qty{
	display: block;
}
.minicart-items .item-qty{
	opacity: 1 !important;
	text-align: left;
	padding: 0;
	border: none;
	font-family: PT_Serif-Web-Regular;
}
@media screen and (min-width: 768px) and (max-width: 991px){
	.dropdown-block.filled-heading .dropdown-heading .inner-heading{
		margin-top: 12px;
	}	
	.dropdown-block .dropdown-heading .caret {
	    display: none;
	}
	.minicart-wrapper{
		display: none;
	}
	.custom-home-block .newcat:first-child {
	    padding-right: 15px;
	}
	.custom-home-block .newcat:last-child {
	    padding-left: 15px;
	}
}
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item, .main-color--border{
	border-color: #898989;
}
.checkout-index-index .opc-progress-bar-item._active:before, 
.checkout-index-index .opc-progress-bar-item._active > span:before, 
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after, 
.checkout-index-index .filter-title strong[data-count]:after, .main-color--bg{
	background-color: #898989;
}
div#wpn-lightbox-content:before{
	background-image: url(../images/Afbeelding-desktop.jpg);
}
div#wpn-lightbox-content.weltpixel-custom:before{
	background-image: url(../images/Afbeelding-desktop.jpg);
}
.opc-help-cms {
    font-size: 12px;
}
.opc-help-cms a{
	border-bottom: 1px solid;
}
.custom-checkout-banner {
    position: relative;
}
.custom-checkout-banner h2{
	position: absolute;
    width: 100%;
    text-align: center;
    color: #fff;
    bottom: 15%;
}
.custom-success-banner-mob{
	display: none;
}
@media screen and (max-width: 767px){
	div#wpn-lightbox-content:before{
		background-image: url(../images/Afbeelding-mobiel.jpg);
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		background-image: url(../images/Afbeelding-mobiel.jpg);
	}
	.custom-checkout-banner h2{
		font-size: 22px;
	}
	.product-info-main .product.attribute.sku{
		font-style: italic;
		border-left: none;
	}
	.checkout-index-index .opc-estimated-wrapper .minicart-wrapper .action.showcart:before{
		content: "" !important;
	    background: url(../images/Shopping-bag.png);
	    width: 17px;
	    height: 23px;
	    background-size: contain;
	    background-repeat: no-repeat;
	    margin-top: 10px;
	}
	.checkout-index-index .opc-estimated-wrapper .minicart-wrapper .action.showcart .counter.qty{
		float: left;
	    margin: 0;
	    position: relative;
	    border-radius: 50%;
	    width: 17px;
	    height: 18px;
	    line-height: 20px;
	    font-size: 12px;
	    background-color: #808080;
	    top: -6px;
	}
	.product-info-main .product.attribute.sku{
		display: block;
		width: 100%;
    	padding: 0;
	}
	.checkout-index-index .custom-slide{
		top: 90px;
	}
	.checkout-index-index .modal-custom .action-close{
		margin: 0;
	}
	.checkout-index-index .custom-slide._show .modal-inner-wrap{
		padding-top: 5px;
	}
	.custom-success-banner-mob{
		display: block;
	}
	.custom-success-banner-desk{
		display: none;
	}
}
@media screen and (max-width: 480px) and (min-width: 375px){
	div#wpn-lightbox-content::before{
		background-position: 90% !important;
	}
}
.weltpixel-custom .weltpixel_newsletter .weltpixel_newsletter_signup_section .title{
	text-align: center;
    margin-left: 0;
}
.catalogsearch-result-index .filter-options-title{
	text-transform: capitalize;
}
@media screen and (max-width: 480px){
	.weltpixel_newsletter .weltpixel_newsletter_signup_section{
		min-height: 284px;
	}
	div#wpn-lightbox-content.weltpixel-custom:before{
		height: 130%;
    	width: 110%;
    	top: -16%;
	}
	.cms-home .items-grid .product-item-name{
		min-height: 40px;
	}
}
@media screen and (max-width: 375px){
	.weltpixel_newsletter .weltpixel_newsletter_signup_section{
		min-height: 322px;	
	}
	.catalog-product-view .modal-popup.modal-slide._inner-scroll._show{
		top: 15%;
	}
}
@media screen and (max-width: 350px){
	.catalog-product-view .modal-popup.modal-slide._inner-scroll._show{
		top: 17%;
	}
}
.checkout-onepage-success .box.box-order-billing-address{
	display: none;
}
.checkout-onepage-success .actions-toolbar .action.primary.continue{
	display: none;
}
.checkout-onepage-success .page-main>.page-title-wrapper .page-title{
	display: none;
}
.checkout-onepage-success .custom-success-title {
	margin-top: 20px;
}
.checkout-onepage-success #registration{
	display: none;
}
@media screen and (max-width: 767px){
	.fotorama-item.fotorama .fotorama__stage__frame .fotorama__img{
		object-fit: contain;
	}
}
.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-name span{
	display: none;
}
/*21-08-2019 changes*/
@media (min-width: 768px){
	.mgk-adcpopup-block .adcpopup-content .content-cart .product-item-actions .action.delete{
		display: none;
	}
}
.category-products-grid .product-item-info a.product-item-link{
	hyphens: none;
}