<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<?php $label = $block->getData('label'); ?>
<div class="admin__field">
    <input type="text"
           id="<?= $block->getId() ?>"
           data-form-part="category_form"
           name="<?= /* @escapeNotVerified */ $block->getData('name') ?>"
           class="admin__control-text <?= /* @escapeNotVerified */ $block->getData('class') ?>"
           placeholder="<?= /* @escapeNotVerified */ $label ? $label : '' ?>"/>
</div>
