<?php
/** @var  \WeltPixel\Newsletter\Helper\Data $_helper */
$_helper = $this->helper('WeltPixel\Newsletter\Helper\Data');
?>

<div id="custom-popup-change">
<form action="<?php echo $_helper->getFormActionUrl(); ?>"
      novalidate
      method="post"
      action="<?= $block->escapeUrl($block->getFormActionUrl()) ?>"
      method="post"
      data-mage-init='{"validation": {"errorClass": "mage-error"}}'
      id="weltpixel_newsletter">
    <div class="form-group">
        <input name="email" type="email" id="popup_newsletter_email"
               placeholder="<?php echo $block->escapeHtml(__('Email adres.....')) ?>"
               data-validate="{required:true, 'validate-email':true}"/>
        <button id="custom-popup" class="action subscribe primary" title="<?= $block->escapeHtml(__('Sign Up')) ?>" type="submit">
            <span><?= $block->escapeHtml(__('Receive 10% discount')) ?></span>
        </button>
        <?php if ($_helper->isTermsConditionsEnabled()) : ?>
        <div class="terms-condition-container">
            <?php  if ($_helper->isTermsConditionsCheckboxRequired()) : ?>
            <input id="terms_conditions_consent" name="terms_conditions_consent" type="checkbox" data-validate="{required:true}" />
            <?php endif; ?>
            <label for="terms_conditions_consent" ><?php echo $_helper->getTermsConditionsText(); ?></label>
        </div>
        <?php endif; ?>
    </div>
</form>
</div>
<div id="popup-loader" style="display: none;">
<img src="<?php echo $this->getViewFileUrl('images/loader-1.gif'); ?>" alt="Popup">
</div>
<?php
$objectManager =  \Magento\Framework\App\ObjectManager::getInstance();        
 
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
?>
<?php if($storeManager->getStore()->getStoreId()==1): ?>
        <script type="text/javascript">
        require(['jquery', 'jquery/ui'], function(){
          jQuery(document).ready(function () {
            jQuery("#weltpixel_newsletter").submit(function(event) {
            event.preventDefault();
            var form = jQuery(this);
            var email = jQuery('#popup_newsletter_email').val();
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
              if (email  === '') {
              return false;
              }
              else if(!emailReg.test(email)) {
              return false;
              }
              else{
              jQuery('#popup-loader').css('display','block');
                jQuery.ajax({
                url: "<?php echo $this->getBaseUrl().'newsletter/subscriber/new/';?>",
                data: form.serialize(),
                type: "POST",
                success: function (result) {
                jQuery(".title").text('Thanks!');
                //.replaceWith('And so the adventure begins');
                jQuery(".weltpixel_newsletter_signup_section p").replaceWith('<p>Thanks for subscribing. Your first email including the 10% discount code, will arrive shortly.</p>');
                jQuery("#popup_newsletter_email").css('display','none');
                jQuery("#custom-popup").replaceWith('<form action="<?php echo $this->getBaseUrl()?>"><button id="close-popup">Continue Shopping</button></form>');
                jQuery("#wpn-lightbox-content").addClass('weltpixel-custom');
                jQuery('#popup-loader').css('display','none');
                }
                });
              }
            });
          });
          jQuery(document).on('click','#close-popup',function () {
            jQuery( "#wpn-lightbox-close-newsletter" ).trigger( "click" );
             });
        });
</script>
<?php else: ?>
        <script type="text/javascript">
        require(['jquery', 'jquery/ui'], function(){
          jQuery(document).ready(function () {
            jQuery("#weltpixel_newsletter").submit(function(event) {
            event.preventDefault();
            var form = jQuery(this);
            var email = jQuery('#popup_newsletter_email').val();
            var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
              if (email  === '') {
              return false;
              }
              else if(!emailReg.test(email)) {
              return false;
              }
              else{
              jQuery('#popup-loader').css('display','block');
                jQuery.ajax({
                url: "<?php echo $this->getBaseUrl().'newsletter/subscriber/new/';?>",
                data: form.serialize(),
                type: "POST",
                success: function (result) {
                jQuery(".title").text('Bedankt!');
                //.replaceWith('And so the adventure begins');
                jQuery(".weltpixel_newsletter_signup_section p").replaceWith('<p>Stay tuned voor je eerste mail met daarin de 10% kortingscode.</p>');
                jQuery("#popup_newsletter_email").css('display','none');
                jQuery("#custom-popup").replaceWith('<form action="<?php echo $this->getBaseUrl()?>"><button id="close-popup">Verder shoppen</button></form>');
                jQuery("#wpn-lightbox-content").addClass('weltpixel-custom');
                jQuery('#popup-loader').css('display','none');
                }
                });
              }
            });
          });
          jQuery(document).on('click','#close-popup',function () {
            jQuery( "#wpn-lightbox-close-newsletter" ).trigger( "click" );
             });
        });
</script>
<?php endif; ?>
