<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile
?>
<div class="custom-checkout-banner">
<h2>Check out</h2>
<img src="<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>pub/media/checkout-banner.jpg" width="100%">
</div>
<div class="login" style="font-family: PT_Serif-Web-Regular!important;font-size: 30px;margin-top: 19px;display:none;" data-bind="i18n: '1.  Heb je al een account?'"></div>


<div id="checkout" data-bind="scope:'checkout'" class="checkout-container">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...'); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
            }
        }
    </script>
    <script>
        window.checkoutConfig = <?php /* @escapeNotVerified */ echo json_encode($block->getCheckoutConfig(), JSON_HEX_TAG); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function(url, blockLoader) {
            blockLoader("<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>");
            return url.setBaseUrl('<?php /* @escapeNotVerified */ echo $block->getBaseUrl();?>');
        })
    </script>
</div>
<div class="opc-cms-main" style="display: none;">
<div class="opc-help-cms">
<?php
echo $this->getLayout()
->createBlock('Magento\Cms\Block\Block')
->setBlockId('place_order')
->toHtml();
?>
</div>
</div>
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
         jQuery(window).on('load',function () {
            setTimeout(function(){
            if(jQuery('.step-title').length){
            var value = jQuery('.action.primary.checkout span').text();
                jQuery('.opc-help-cms').css('display', 'block');
                jQuery('.opc-help-cms').insertAfter('.payment-method-content .actions-toolbar');
             }
             }, 3500);
        });
    });
</script> 
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
         jQuery(document).on('click', '.button.action.continue.primary',function () {
            setTimeout(function(){
            if(jQuery('.step-title').length){
            var value = jQuery('.action.primary.checkout span').text();
                jQuery('.opc-help-cms').css('display', 'block');
                jQuery('.opc-help-cms').insertAfter('.payment-methods .action.primary.checkout');
             }
             }, 3500);
        });
    });
</script>  
<script type="text/javascript">
    require(['jquery', 'jquery/ui'], function($){
        jQuery(document).on('click', '.minicart-wrapper .action.showcart',function () {
            if(
                (navigator.platform.indexOf("iPhone") != -1) ||
                (navigator.platform.indexOf("iPod") != -1)
            )
            {
                $(".block.items-in-cart").addClass("active");
                $(".content.minicart-items").css("display","block");
                $(".opc-sidebar.opc-summary-wrapper.custom-slide").css("z-index","99999");
                $(".modal-custom .action-close").css("margin","0px");
            }
            else{
                $(".opc-sidebar.opc-summary-wrapper.custom-slide").css("z-index","99999");
            }
        });

    });
</script>