<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_VisualMerch
 */
?>
<div data-role="merchandiser_assign_products_content" class="admin__old" style="display:none">
    <div id="merchandiser_assign_products_content" class="merchandiser-assign-products-content"></div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Amasty_VisualMerch/js/category/form": {
                "isCategoryDynamic": "<?= /* @escapeNotVerified */ $block->getIsCategoryDynamic() ?>",
                "changeDisplayModeUrl": "<?= /* @escapeNotVerified */ $block->getChangeDisplayModeUrl() ?>"
            }
        }
    }
</script>