<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var \Magento\Customer\Block\Form\Login\Info $block */
?>
<?php if ($block->getRegistration()->isAllowed()): ?>
<div class="block block-new-customer hidden-xs">
    <div class="block-title">
        <strong id="block-new-customer-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('New Customers')) ?></strong>
    </div>
    <div class="block-content" aria-labelledby="block-new-customer-heading">
        <p><?= $block->escapeHtml(__('Creating an account has many benefits: check out faster, keep more than one address, track orders and more.')) ?></p>
        <div class="actions-toolbar">
            <div class="primary">
                <a href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>" class="action create primary"><span><?= $block->escapeHtml(__('Create an Account')) ?></span></a>
            </div>
        </div>
    </div>
</div>
<?php endif; ?>
<div class="block block-new-customer visible-xs">
 <h3 class="text-center"><?php echo __('No account yet?')?></h3>
        <p class="text-center"><?php echo __('By creating an account, you can add your favorite items to your personal wish list, apply discount codes, pay faster, specify multiple shipping addresses, view your current and previous orders and more.')?></p>
        <a class="request-btn" href="<?= $block->escapeUrl($block->getCreateAccountUrl()) ?>"><?= $block->escapeHtml(__('Create an account')) ?></a>
        </div>